{% extends "index.twig" %}


{% block left_column %}

	<style>
		#content{
			float: none;
			width: 100%;
		}
	</style>

{% endblock %}

{% block content %}
	<div class="basket">
		<div class="breadcrumbs">
			<ul>
				<li><a href="/">Главная</a></li>
				<li> Запрашиваемая страница не найдена! </li>
			</ul>
		</div>

		<div class="h2">{{ headers.title404|raw }}</div>
	</div>

{% endblock %}
