{% extends "index.twig" %}

{% block left_column %}

	<style>
		#content{
			float: none;
			width: 100%;
		}
	</style>

{% endblock %}

{% block content %}
	<script type="text/javascript" src="/j/shipping.js"></script>
	<div class="basket">
		<div class="breadcrumbs">
			<ul>
				<li><a href="/">Главная</a></li>
				<li>Корзина</li>
			</ul>
		</div>
		<div class="h2">{{ cart_title|raw }}</div>
		<div id="cart_content">
		{% if products %}
			<table>
				<tr>
					<th>Наименование товара</th>
					<th class="col">Количество</th>
					<th>Цена за 1 шт.</th>
					<th>Сумма</th>
					<th></th>
				</tr>

				{% for p in products %}

				<tr id="cell_{{ p.product.id }}">
					<td>
						<img src="{{ p.product.main_image.image100x100 }}" height="100" width="100" alt="{{ p.product.title }}" class="basketimg">
						<a class='name' href="{{ p.product.url }}">{{ p.product.title }}</a>
					</td>
					<td>
						<form action="" class="update">
							<select class="product_quantity_update" name="quantity" id="product_quantity_{{ p.product.id }}" product_id="{{ p.product.id }}">
								{% for i in 1..10 %}
									<option value="{{ i }}" {% if i == p.quantity %} selected {% endif %}>{{ i }}</option>
								{% endfor %}
							</select>
						</form>
						{#<a class="update product_quantity_update" product_id="{{ p.product.id }}"><img src="/i/update.png" height="26" width="26" alt=""></a>#}
					</td>
					<td>{{ p.price }} <span class="rub">a</span></td>
					<td><span id="product_price_total_{{ p.product.id }}">{{ p.total }}</span> <span class="rub">a</span></td>
					<td><a class="remove" product_id="{{ p.product.id }}"><img src="/i/basket-delete.png" height="9" width="9" alt=""></a></td>
				</tr>
				{% endfor %}
			</table>

			<div class="delivery">
				<div>
					<p class="totalsum">
						<span id="price_total">{{ total }}</span> <span class="rub">a</span>
					</p>
					<p class="totaltxt">Итого (без учета доставки):</p>
				</div>
				<div class="clear"></div>

				<div style="position: relative;">
					<div class="no_change_shipping">Внимание!<br/>Выберите способ доставки.</div>
					<form action="" class="delivery">
						<select name="geos" id="geos" >
							{#<option>Выберите город</option>#}
							{% for g in geos %}
								<option value="{{ g.id }}" {{ g.selected }}>{{ g.title }}</option>
							{% endfor %}
						</select>
						<select name="shipping" id="shipping">
						</select>
						<select name="shipping_geo" id="shipping_geo">
						</select>
						<input type="hidden" name="shipping_geo_id" id="shipping_geo_id" value="0" />
					</form>
					<p id='shipping_description'>

					</p>
					<p class="deliverysum">
						<span id="cost"><?php echo $order_shipping; ?></span>  <span id='rub' class="rub">a</span>
					</p>
				</div>
			</div>

			<div class="clear"></div>

			<div class="total">
				<p class="sum"><span id="price_total_full">{{ total_full }} </span> <span class="rub">a</span></p>
				<p class="txt">Общая сумма:</p>
			</div>

			<div class="clear"></div>

			<a class="button" id="button_checkout">Оформить заказ</a>
		</div>
		<script>
			var shipping = {{ shipping|raw }};
			var shipping_geo = {{ shipping_geo|raw }};
			var geo_selected_id = {{ geo_selected_id|raw }};
			var shipping_selected_id = {{ shipping_selected_id|raw }};
			var shipping_geo_selected_id = {{ shipping_geo_selected_id|raw }};
		</script>
		{% else %}
			<p>
				Ваша корзина пуста.
			</p>
		{% endif %}

	</div>



{% endblock %}


