{% extends "index.twig" %}

{% block content %}
	<div class="breadcrumbs">
		<ul>
			<li><a href="/">Главная</a></li>
			<li>{{ category.title }}</li>
		</ul>
	</div>
	<div class="h2">{{ category.title_h2|raw }}</div>

	{% if category.description %}
		<div class="cat-descript">
			{% if category.image %}
				<img height="64" width="64" alt="" src="{{ category.image }}">
			{% endif %}
			{{ category.description|raw }}
		</div>
	{% endif %}

	{% include 'helper/product_filter.twig' %}

	<div class="category_products">
		{% for p in products %}
			{% include 'helper/product_item.twig' with p %}
		{% endfor %}
	</div>

	<div class="clear"></div>

	{% include 'helper/product_filter.twig' %}
{% endblock %}
