<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

		{% if meta_description %}
			<meta name="description" content="{{ meta_description }}" />
			<meta property="og:description" content="{{ meta_description }}" />
		{% endif %}
		{% if title %}
			<meta name="title" content="{{ title }}" />
			<meta property="og:title" content="{{ title }}" />
		{% endif %}
		{% if meta_keyword %}
			<meta name="keywords" content="{{ meta_keyword }}" />
		{% endif %}
		<meta property="og:type" content="website" />
		<meta property="og:url" content="{{ site_url }}" />
		<meta property="og:site_name" content="{{ site_name }}" />

		<meta property="og:image" content="" />

		<link rel="stylesheet" type="text/css" href="/s/main.css" />

		<script type="text/javascript" src="/j/jquery/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/j/jquery/ui/jquery-ui-1.8.16.custom.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/j/jquery/ui/themes/ui-lightness/jquery-ui-1.8.16.custom.css" />
		<script type="text/javascript" src="/j/common.js"></script>


		<script type="text/javascript" src="/j/jquery/jquery.arcticmodal-0.3.min.js"></script>
		<script type="text/javascript" src="/j/jquery/jquery.bxslider.min.js"></script>
		<script type="text/javascript" src="/j/slider.js"></script>
		<link rel="stylesheet" type="text/css" href="/s/jquery.arcticmodal-0.3.css" />
		<link rel="stylesheet" type="text/css" href="/s/jquery.bxslider.css" />

		<script src="/j/jquery/jquery.inputmask.js" type="text/javascript"></script>
		<script src="/j/jquery/jquery.bind-first-0.1.min.js" type="text/javascript"></script>
		<script src="/j/jquery/jquery.inputmask-multi.js" type="text/javascript"></script>

		<title>{{  title }}</title>
	</head>
	<body>
		<div id="container">
			<div id="top_menu">
				<div class="region">
					Ваш регион: <span class="geo">Москва</span>
				</div>
				<div class="top_menu_1">
					<a href="/">Главная</a>
				</div>
				<div class="top_menu_2">
					<a href="/action/">Оплата и доставка</a>
				</div>
				<div class="top_menu_3">
					<a href="/shipping/">Самовывоз</a>
				</div>
				<div class="top_menu_4">
					<a href="/exchange_and_refund/">Гарантия</a>
				</div>
				<div class="top_menu_5">
					<a href="/contact/">Контакты</a>
				</div>
			</div>
			<div id="header">
				<div id="header_body">
					<a href="/"><div id="logo"></div></a>

					<div id="header_contact">
						<div class="contact_week">
							Пн-Пт: с 8:00 до 21:00<br/>
							Сб-Вс: с 11:00 до 17:00
						</div>

						<div class="contact_phone_call">
							<span onclick="$('#callback').arcticmodal()" class="pseudo">Обратный<br/>звонок</span>
						</div>

						<div class="contact_phone_image">
							<img src="/i/phone.png" />
						</div>

						<div class="contact_phone_number">
							8 (495) 123-45-67<br/>
							8 (495) 123-45-67
						</div>

						<div class="contact_email_image">
							<img src="/i/email.png" />
						</div>

						<div class="contact_email_send">
							<span onclick="$('#question').arcticmodal()" class="pseudo">Написать<br/>письмо</span>
						</div>
					</div>
				</div>
				<div id="header_search">
					<form action="/search/">
						<input type="text" value="" name="search" placeholder="Введите артикул или слово">
						<button type="submit" class="header_search_button"></button>
					</form>
				</div>

			</div>
			<div id="body">
				{% block left_column %}
				<div id="left_column">

					<div class="h2">{{ headers.catalog|raw }}</div>
					{% for c in categories %}
					<div class="category_item">
						{% if c.image %}
							<img src="{{ c.image }}" />
						{% endif %}
						<div>
							<a href="{{ c.url }}">{{ c.title }}</a>
							<div>{% if c.title_eng %}({{ c.title_eng }}){% endif %}</div>
						</div>
					</div>
					{% endfor %}

					<div class="delimiter">&nbsp;</div>

					{% if tips %}
						<div class="h2">{{ headers.advice|raw }}</div>
							{% for t in tips %}
								<div>
									<div class="tips_item">
										<img src="{{ t.product.image }}" alt="" width="65"/>
										<div>
											<a href="{{ t.product.url }}">{{ t.url }}</a>
											<div>{{ t.description }}</div>
										</div>
									</div>
								</div>
						{% endfor %}

						<div class="delimiter">&nbsp;</div>
					{% endif %}

					<div class="h2">{{ headers.royal|raw }}</div>
					{% for c in royal_categories %}
						<div class="category_item">
							{% if c.image %}
								<img src="{{ c.image }}" alt="{{ c.title }}" />
							{% endif %}
							<div class="category_item_pers">
								<a href="{{ c.url }}">{{ c.title }}</a>
								<div>({{ c.title_eng }})</div>
							</div>
						</div>
					{% endfor %}

					<div class="delimiter">&nbsp;</div>

					<div class="h2">{{ headers.rebel|raw }}</div>
					{% for c in rebel_categories %}
						<div class="category_item">
							{% if c.image %}
								<img src="{{ c.image }}" alt="{{ c.title }}" />
							{% endif %}
							<div class="category_item_pers">
								<a href="{{ c.url }}">{{ c.title }}</a>
								<div>({{ c.title_eng }})</div>
							</div>
						</div>
					{% endfor %}

					{#<div class="delimiter">&nbsp;</div>#}

					{#<div class="h2">{{ headers.news|raw }}</div>#}
					{#<div class="left_column_news">#}
						{#<span>4 июля 20014</span>#}
						{#<div><a href=''>Новые поступления</a></div>#}
					{#</div>#}
				</div>
				{% endblock %}

				<div id="content">
					{% block content %}
					<div id="banners">
						<div class="slider">
							<ul class="ulslider">
								{% for b in banners %}
									<li><a href="{{ b.url }}"><img src="{{ b.image }}" alt="{{ b.title }}"></a></li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<div class="category_products">
						<div class="h2">{{ headers.products_week|raw }}</div>
						{% for p in products_week %}
							{% include 'helper/product_item.twig' with p %}
						{% endfor %}
					</div>

					{% if seo_text %}
						<div id="description">
							<div class="h2">{{ headers.description|raw }}</div>
							<div id="description_content">
								{{ seo_text|raw }}
							</div>
						</div>
					{% endif %}
					{% endblock %}
				</div>

				<div class="clear"></div>
				<div id="footer">
					<div id="footer_border"></div>
					<div class="footer_column">
						<h3>Каталог</h3>
						{% for c in categories %}
							<div><a href="{{ c.url }}">{{ c.title }}</a></div>
						{% endfor %}
					</div>
					<div class="footer_column">
						<h3>Ever After Higt</h3>
						<div><a href="/action/">Акции и скидки</a></div>
						<div><a href="/news/">Новости</a></div>
						<div><a href="/quality/">Сертификаты качества</a></div>
						<div><a href="/five_reasons_to_choose_us/">5 причин выбрать нас</a></div>
						<div><a href="/history_brent_mattel/">История брента Mattel</a></div>
						<div><a href="/history_brent_ever_after_high/">История брента Ever After High</a></div>
					</div>
					<div class="footer_column">
						<h3>Покупателю</h3>
						<div><a href="">Личный кабинет</a></div>
						<div><a href="/shipping/">Доставка</a></div>
						<div><a href="/shipping/">Оплата</a></div>
						<div><a href="/exchange_and_refund/">Обмен и Возврат</a></div>
						<div><a href="/help/">Помощь</a></div>
						<div><a href="/feedback/">Обратная связь</a></div>
					</div>
					<div class="footer_column">
						<h3>Контакты</h3>
						<div class="contact_phone">
							<img src="/i/phone.png" />
							<div>+7 495 123 45 67</div>
							<div><a onclick="$('#callback').arcticmodal()" class="pseudo">Заказать обратный звонок</a></div>
						</div>
						<div class="contact_email">
							<img src="/i/email.png" />
							<div>info@everafterhighshop.ru</div>
							<div><a onclick="$('#question').arcticmodal()" class="pseudo">Написать вам</a></div>
						</div>
						<div></div>
					</div>
				</div>
			</div>
			<div class="clear div_height"></div>
		</div>

		<div id="footer_gradient_container">
			<div id="footer_gradient">
				<div>2014</div>
			</div>
		</div>

		{% include 'helper/modal_win.twig' %}

	</body>
</html>
