{% extends "index.twig" %}

{% block content %}
	<div class="breadcrumbs">
		<ul>
			<li><a href="/">Главная</a></li>
			<li>{{ information.title }}</li>
		</ul>
	</div>
	<div class="h2">{{ information.title_h2|raw }}</div>

	<div>
		{{ information.description|raw }}
	</div>

	{% if products %}
		<div class="category_products">
			{% for p in products %}
				{% include 'helper/product_item.twig' with p %}
			{% endfor %}
		</div>
	{% endif %}


{% endblock %}
