{% extends "index.twig" %}

{% block content %}
	<div class="breadcrumbs">
		<ul>
			<li><a href="/">Главная</a></li>
			<li><a href="{{ category.url }}">{{ category.title }}</a></li>
			<li>{{ product.title }}</li>
		</ul>
	</div>

	<div class="h2">{{ product.title_h2|raw }}</div>

	<div class="product">

		<div class="gallerybox">
			<ul class="gallery">
				{% for i in images %}
					<li>
						<a href="{{ i.image500x500 }}" class="colorbox1"  it="{{ loop.index0 }}">
							<img src="{{ i.image340x340 }}" height="340" width="340" alt="{{ product.title }}" id="image_product_{{ product.id }}"/>
						</a>
					</li>
				{% endfor %}
			</ul>
			<div id="gallery-pager">
				{% for i in images %}
					<a data-slide-index="{{ loop.index0 }}" href="{{ i.image340x340 }}"><img src="{{ i.image70x70 }}" width="70" height="70" /></a>
				{% endfor %}
			</div>
		</div>

		<div class="infobox">
			<p class="article" style="margin-bottom: 5px;">Артикул: {{ product.article }}</p>
			<p class="article" style="margin: 5px 0;">Код: {{ product.code }}</p>
			{% if product.count_review > 0 %}
				<div class="rating">
					<div class="product_item_star stars">
						<div class="stars_{{ product.rating }} star_f"></div>
					</div>

					<div class="reviewlink"><a href="#reviewbox">({{ product.count_review }} отзыв)</a></div>
				</div>
			{% endif %}

			<p class="stock">В наличии: {% if product.quantity > 0 %}<span class="yes">есть</span>{% else %}<span class="no">нет</span>{% endif %}</p>
			{% if product.special_price %}
				<p class="oldprice">{{ product.price }} <span class="rub">a</span></p>
				<p class="price">{{ product.special_price }} <span class="rub">a</span></p>
			{% else %}
				<p class="price">{{ product.price }} <span class="rub">a</span></p>
			{% endif %}

			<a class="order product_add_cart {% if product.quantity == 0 %}disabled{% endif %}" product_id="{{ product.id }}" type="is_big" href="#">Купить</a>
			{% if product.quantity > 0 %}
				<a class="oneclick" onclick="$('#buy_one_click').arcticmodal()">Купить в 1 клик</a>
			{% else %}
				<a class="oneclick" onclick="$('#notify_stoke').arcticmodal()" style="text-align: left; width: 270px;">Уведомить о поступление</a>
			{% endif %}
			<div class="clear"></div>

			<div class="specification">
				<h5>{{ headers.specification|raw }}</h5>
				<div>
					{% for a in attributes %}
						<div class="spec-1">
							{{ a.title }}:
						</div>
						<div class="spec-2">
							{{ a.value }}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="clear"></div>

		<div class="share">Поделиться: </div>
		<div data-title="{{ product.title }}" class="pluso" data-background="transparent" data-options="smal,round,line,horizontal,counter,theme=04" data-services="vkontakte,facebook,odnoklassniki,twitter,google"></div>

		{% if product.video %}
			<div class="clear"></div>
			<div class="product_video">
				<div class="h2">{{ headers.video|raw }}</div>
				{{ product.video|raw }}
			</div>
		{% endif %}

		<div class="clear"></div>

		{% if product.description %}
			<div class="description">
				<div class="h2">{{ headers.description|raw }}</div>
				{{ product.description|raw }}
			</div>
		{% endif %}

		{% if products_buy %}
			<div class="related">
				<div class="h2">{{ headers.buy|raw }}</div>
				<div class="relslide">
					{% for p in products_buy %}
						{% include 'helper/product_item_small.twig' with p %}
					{% endfor %}
				</div>
			</div>
		{% endif %}

		{% if products_see %}
			<div class="see">
				<div class="h2">{{ headers.see|raw }}</div>
				<div class="seeslide">
					{% for p in products_see %}
						{% include 'helper/product_item_small.twig' with p %}
					{% endfor %}
				</div>
			</div>
		{% endif %}

		<div class="reviewbox">
			<a name="reviewbox"></a>
			<div class="h2">{{ headers.review|raw }}</div>
			<a class="addreview" onclick="$('#review').arcticmodal()">Добавить отзыв</a>

			{% for r in reviews %}
				<div class="review">
					<div class="stars">
						<div class="star_f stars_{{ r.rating }}"></div>
					</div>
					<p class="name">{{ r.author }}</p>
					<p class="date">13.09.2014</p>
					{{ r.text|raw }}
				</div>
			{% endfor %}
		</div>
	</div>
	<script>
		$(function() {
			if (window.pluso)if (typeof window.pluso.start == "function") return;
			if (window.ifpluso==undefined) { window.ifpluso = 1;
				var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
				s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
				s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
				var h=d[g]('body')[0];
				h.appendChild(s);
		}});
	</script>
{% endblock %}
