{% extends "index.twig" %}

{% block content %}
	<div class="breadcrumbs">
		<ul>
			<li><a href="/">Главная</a></li>
			<li>Поиск</li>
		</ul>
	</div>
	<div class="h2">{{ headers.search|raw }}</div>

	{% include 'helper/product_filter.twig' %}

	<div class="category_products">
		{% for p in products %}
			{% include 'helper/product_item.twig' with p %}
		{% endfor %}
	</div>

	<div class="clear"></div>

	{% include 'helper/product_filter.twig' %}

{% endblock %}
