.container {
	margin-top: 20px;
}

.form-login {
	margin-top: 150px;

}

.form-login .form-group {
	margin-left: 350px;
}

.file_upload {
	position: relative;
	overflow: hidden;
	background: #eee;
	border: 1px solid #ccc;
	font-size: 10px;
	line-height: 1;
	text-align: center;
	width: 70px;
	padding: 5px;
	display: inline;
}

.file_upload input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 200px;
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer;
}

.width10 {
	width: 10%;
}

.width20 {
	width: 20%;
}

.width30 {
	width: 30%;
}

.product_images_remove {
	cursor: pointer;
	position: absolute;
	right: -2px !important;
	top: -3px;
}

span {
	cursor: pointer;
}

.clear_image {
	cursor: pointer;
}

#image_container img {
	float: left;
	margin-right: 5px;
}
.var{
	width: 200px;
	float: left;
}