{% extends "helper/base.twig" %}

{% block body %}
	<div>
		<a href="{{ create }}" style="float:right;"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Добавить</button></a>
		<h2>Категории</h2>
	</div>
	<table class="table table-striped">
		<tr>
			<th class="text-center">Картинка</th>
			<th>Название категории</th>
			<th class="text-center">Порядок сортировки</th>
			<th class="text-center">Действие</th>
		</tr>
		{% for c in categories %}
			<tr>
				<td class="text-center">{% if c.hash %}<img src="{{ c.hash }}" /> {% else %}{{ c.hash }}{% endif %}</td>
				<td style="padding-left: {{ c.lvl+1 }}em;">{{ c.title }}</td>
				<td class="text-center">{{ c.sort }}</td>
				<td class="text-center">
					<a href="{{ c.url_edit }}"><span class="glyphicon glyphicon-pencil"></span></a>
					<a href="{{ c.url_del }}"><span class="glyphicon glyphicon-remove"></span></a>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}