{% extends "helper/base.twig" %}

{% block js %}
	<script src="/js/ckeditor/ckeditor.js"></script>
	<script src="/js/upload.js"></script>
{% endblock %}

{% block body %}
	{% if errors %}
		{% for e in errors %}
			<div class="alert alert-danger" role="alert">{{ e }}</div>
		{% endfor %}
	{% endif %}
	<form class="form-horizontal" role="form" method="post" action="" enctype="multipart/form-data">
		<div style="float: right;">
			<button type="submit" id="button_save" class="btn btn-default">Сохранить</button>
		</div>
		<ul role="tablist" class="nav nav-tabs" id="myTab" xmlns="http://www.w3.org/1999/html">
			<li class="active">
				<a data-toggle="tab" role="tab" href="#common">Общие</a>
			</li>
			<li>
				<a data-toggle="tab" role="tab" href="#data">Данные</a>
			</li>
		</ul>
		<br/>
		<div class="tab-content" id="myTabContent">
			<div id="common" class="tab-pane fade active in">
				<div class="form-group">
					<label for="title" class="col-sm-2 control-label">Название:</label>

					<div class="col-sm-6">
						<input type="text" class="form-control" id="title" name="title" value="{{ category.title }}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="title_eng" class="col-sm-2 control-label">Анг. название:</label>

					<div class="col-sm-6">
						<input type="text" class="form-control" id="title_eng" name="title_eng" value="{{ category.title_eng }}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="seo_title" class="col-sm-2 control-label">HTML-тег Title:</label>

					<div class="col-sm-6">
						<input type="text" class="form-control" id="seo_title" name="seo_title" value="{{ category.seo_title }}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="seo_h1" class="col-sm-2 control-label">HTML-тег H1:</label>

					<div class="col-sm-6">
						<input type="text" class="form-control" id="seo_h1" name="seo_h1" value="{{ category.seo_h1 }}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="meta_keyword" class="col-sm-2 control-label">Мета-тег Keywords:</label>

					<div class="col-sm-6">
						<input type="text" class="form-control" id="meta_keyword" name="meta_keyword" value="{{ category.meta_keyword }}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="meta_description" class="col-sm-2 control-label">Мета-тег Description:</label>

					<div class="col-sm-6">
						<input type="text" class="form-control" id="meta_description" name="meta_description" value="{{ category.meta_description }}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="description" class="col-sm-2 control-label">Описание:</label>
					<div class="col-sm-10">
						<textarea class="ckeditor" cols="80" id="editor1" rows="10" name="description" tabindex="1">{{ category.description }}</textarea>
					</div>
				</div>
			</div>

			<div id="data" class="tab-pane fade">
				<div class="form-group">
					<label for="url" class="col-sm-2 control-label">Ссылка:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="url" name="url" value="{{ category.url }}">
					</div>
				</div>
				<div class="form-group">
					<label for="url" class="col-sm-2 control-label">Parents:</label>
					<div class="col-sm-6 checkbox">
						{% for parent in category.parents %}
							<div>
								<a href="{{ parent.url }}">{{ parent.title }}</a>
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="form-group">
					<label for="url" class="col-sm-2 control-label">Childs:</label>
					<div class="col-sm-9 checkbox">
						<div class="col-sm-5">
							<select id="all_categories" class="form-control" multiple size="10">
								{% for c in categories %}
									{% if c.selected == '' %}
										<option value="{{ c.id }}" style="padding-left: {{ c.lvl }}em">{{ c.title }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
						<div class="col-sm-1" style="text-align: center;padding: 50px 0 0;">
							<button class="btn btn-default" type="submit" id="add_cat"> &gt; </button>
							<button class="btn btn-default" type="submit" id="del_cat"> &lt; </button>
						</div>
						<div class="col-sm-5">
							<select id="child_categories" name="child_categories[]" class="form-control " multiple size="10">
								{% for c in categories %}
									{% if c.selected %}
										<option value="{{ c.id }}" style="padding-left: {{ c.lvl }}em">{{ c.title }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
						<div class="col-sm-1" style="text-align: center;padding: 50px 0 0;">
							<button class="btn btn-default" type="submit" id="up_cat"> &and; </button>
							<button class="btn btn-default" type="submit" id="down_cat"> &or; </button>
						</div>

					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">Изображение:</label>
					<div class="col-sm-6 checkbox">
						<div id="image_container">
							{% if category.image.hash %}
								<img alt="140x140" class="img-thumbnail" src="{{ category.image.hash }}" />
								<input type="hidden" name="image_id" value="{{ category.image.id }}" />
								<div class="clear_image" value="{{ category.image.id }}">[x]</div>
							{% else %}
								<input type="file" accept="image/jpeg,image/png,image/gif" id="image_id" name="image"/>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<div class="checkbox">
							<label>
								<input type="checkbox" name="is_publish" value="1" {% if category.is_publish %} checked="checked"{% endif %}> Публиковать
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="sort" class="col-sm-2 control-label">Сортировка:</label>
					<div class="col-sm-1">
						<input type="text" class="form-control" id="sort" name="sort" value="{{ category.sort }}">
					</div>
				</div>
			</div>
		</div>
	</form>
	<script>
		var parent = 'category';
		var get_cache = '';
		var http_image = '{{ HTTP_IMAGE_BASE }}';
		var parent_id = {% if category.id %}{{ category.id }}{% else %}0{% endif %};
		$('#myTab a[href="#data"]').tab('show');
		$('#myTab a[href="#common"]').tab('show');

		getHtmlOption = function(option) {
			return '<option value="' + option.val() +
					'" id="category_' + option.val() +
					'">' + option.html() + '</option>';
		}

		$(function(){
			$('#add_cat').click(function(){
				option = $('#all_categories option:selected');
				if($("#category_"+ option.val()).val() == undefined && option.val()){
					$('#child_categories').append(getHtmlOption(option));
				}
				return false;
			});
			$('#del_cat').click(function(){
				option = $("#child_categories option:selected");
				option.remove();
				return false;
			});
			$('#up_cat').click(function(){
				option = $('#child_categories option:selected');
				prev = option.prev();
				if(prev.val()){
					$('#' + option.attr('id')).replaceWith(getHtmlOption(prev));
					$('#' + prev.attr('id')).replaceWith(getHtmlOption(option));
					$('#' + option.attr('id')).attr('selected','selected');
				}
				return false;
			});
			$('#down_cat').click(function(){
				option = $('#child_categories option:selected');
				next = option.next();
				if(next.val()){
					$('#' + next.attr('id')).replaceWith(getHtmlOption(option));
					$('#' + option.attr('id')).replaceWith(getHtmlOption(next));
					$('#' + option.attr('id')).attr('selected','selected');
				}
				return false;
			});
			$('#button_save').click(function(){
				$('#child_categories option').prop('selected', true);
			});

		});
	</script>
{% endblock %}