{% extends "helper/base.twig" %}

{% block body %}
	<div>
		<a href="{{ create }}" style="float:right;"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Добавить</button></a>
		<h2>Доставка</h2>
	</div>
	<table class="table table-striped">
		<tr>
			<th>Название</th>
			<th class="text-center">Сортировка</th>
			<th class="text-center">Действие</th>
		</tr>
		{% for s in shipping %}
			<tr>
				<td>{{ s.title }}</td>
				<td class="text-center">{{ s.sort }}</td>
				<td class="text-center">
					<a href="{{ s.url_edit }}"><span class="glyphicon glyphicon-pencil"></span></a>
					<a href="{{ s.url_del }}"><span class="glyphicon glyphicon-remove"></span></a>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}