{% extends "helper/base.twig" %}

{% block js %}
	<script src="/js/common.js"></script>
{% endblock %}

{% block body %}
	{% if errors %}
		{% for e in errors %}
			<div class="alert alert-danger" role="alert">{{ e }}</div>
		{% endfor %}
	{% endif %}
	<form class="form-horizontal" role="form" method="post" action="">
		<div style="float: right;">
			<button type="submit" class="btn btn-default">Сохранить</button>
		</div>
		<ul role="tablist" class="nav nav-tabs" id="myTab" xmlns="http://www.w3.org/1999/html">
			<li class="active">
				<a data-toggle="tab" role="tab" href="#common">Общие</a>
			</li>
			<li>
				<a data-toggle="tab" role="tab" href="#geo">Доставка по Гео</a>
			</li>
		</ul>
		<br/>
		<div class="tab-content" id="myTabContent">
			<div id="common" class="tab-pane fade active in">
				<div class="form-group">
					<label for="title" class="col-sm-2 control-label">Название:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="title" name="title" value="{{ shipping.title }}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="sort" class="col-sm-2 control-label">Сортировка:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="sort" name="sort" value="{{ shipping.sort }}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<div class="checkbox">
							<label>
								<input type="checkbox" name="is_publish" value="1" {% if shipping.is_publish %} checked="checked"{% endif %}> Публиковать
							</label>
						</div>
					</div>
				</div>
			</div>
			<div id="geo" class="tab-pane fade">
				<table class="table table-striped">
					<thead>
					<tr>
						<th class="width10">Гео</th>
						<th class="text-center width10">Цена</th>
						<th class="width20">Описание</th>
						<th class="width10">Номер Пункта</th>
					</tr>
					</thead>
					<tbody id="values">
					{% for v in values %}
						<tr>
							<td>
								<input type="hidden" class="form-control" name="value_id[]" value="{{ v.id }}"/>
								<input type="hidden" class="form-control" name="value_geo[]" value="{{ v.geo_id }}"/>
								{{ v.geo_title }}
							</td>
							<td class="text-center"><input type="text" class="form-control" name="value_price[]" value="{{ v.price }}"/></td>
							<td><input type="text" class="form-control" name="value_description[]" value="{{ v.description|raw }}"/></td>
							<td><input type="text" class="form-control" name="value_point_id[]" value="{{ v.point_id|raw }}"/></td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
				<input type="hidden" class="form-control" id="shipping_id" name="shipping_id" value="{{ shipping.id }}"/>
				<div class="form-group">
					<label for="geo_id" class="col-sm-2 control-label">Гео:</label>
					<div class="col-sm-6">
						<select class="form-control" id="geo_id">
							{% for g in geos %}
								<option value="{{ g.id }}">{{ g.title }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="price" class="col-sm-2 control-label">Цена:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="price"/>
					</div>
				</div>
				<div class="form-group">
					<label for="description" class="col-sm-2 control-label">Описание:</label>
					<div class="col-sm-6">
						<textarea class="form-control" rows="5" id="description"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label for="point_id" class="col-sm-2 control-label">Номер пункта:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="point_id"/>
					</div>
				</div>
				<div class="form-group">
					<label for="status_comment" class="col-sm-2 control-label">&nbsp;</label>
					<div class="col-sm-6">
						<button type="submit" id="add_geo_shipping" class="btn btn-default">Добавить</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<script>
		$('#myTab a[href="#geo"]').tab('show');
		$('#myTab a[href="#common"]').tab('show');
	</script>

{% endblock %}