{% extends "helper/base.twig" %}

{% block body %}
	{% if errors %}
		{% for e in errors %}
			<div class="alert alert-danger" role="alert">{{ e }}</div>
		{% endfor %}
	{% endif %}

	<form class="form-horizontal" role="form" method="post" action="">
		<div style="float: right;">
			<button type="submit" class="btn btn-default">Сохранить</button>
		</div>
		<ul role="tablist" class="nav nav-tabs" id="myTab" xmlns="http://www.w3.org/1999/html">
			<li class="active">
				<a data-toggle="tab" role="tab" href="#common">Общие</a>
			</li>
		</ul>
		<br/>
		<div class="tab-content" id="myTabContent">
			<div id="common" class="tab-pane fade active in">
				<div class="form-group">
					<label for="title" class="col-sm-2 control-label">Название:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="title" name="title" value="{{ attribute.title }}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="sort" class="col-sm-2 control-label">Сортировка:</label>
					<div class="col-sm-1">
						<input type="text" class="form-control" id="sort" name="sort" value="{{ attribute.sort }}">
					</div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}