{% extends "helper/base.twig" %}

{% block body %}
	<div>
		<h2>Подписки</h2>
	</div>
	<table class="table table-striped">
		<tr>
			<th>ФИО</th>
			<th>Телефон</th>
			<th>Эл почта</th>
			<th>Продукт</th>
			<th>Артикл</th>
			<th>Код</th>
			<th class="text-center">Кол увед</th>
			<th class="text-center">Дата</th>
			<th class="text-center">Действие</th>
		</tr>
		{% for s in subscription %}
			<tr>
				<td>{{ s.fio }}</td>
				<td>{{ s.telephone }}</td>
				<td>{{ s.email }}</td>
				<td>{{ s.product.title }}</td>
				<td>{{ s.product.article }}</td>
				<td>{{ s.product.code }}</td>
				<td class="text-center">{{ s.count_send }}</td>
				<td class="text-center">{{ s.create_time|date('d.m.Y') }}</td>
				<td class="text-center">
					<a href="{{ s.url_del }}"><span class="glyphicon glyphicon-remove"></span></a>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}