<!-- Модальное окно - ДОБАВИТЬ ОТЗЫВ -->
<div class="g-hidden">
	<div class="a-modal" id="review">
		<div class="c-modal_close arcticmodal-close"></div>

		<div class="wr-hidden">
			<h5>{{ headers.add_review|raw }}</h5>
			<div id="review-title"></div>

			<form action="" method="post" class="addreview">
				<div class="mvalue">
					<span>Достоинства</span><br />
					<textarea name="dignity" id=""></textarea>
				</div>

				<div class="mlimitations">
					<span>Недостатки</span><br />
					<textarea name="shortcomings" id=""></textarea>
				</div>

				<div class="clear"></div>

				<div class="mvalue2">
					<span>Отзыв</span><br />
					<textarea name="text" id=""></textarea>
				</div>

				<p class="rating">Оценка
				<div class="starts_block">
					<div class="star_non" id="star1" it="1"></div>
					<div class="star_non" id="star2" it="2"></div>
					<div class="star_non" id="star3" it="3"></div>
					<div class="star_non" id="star4" it="4"></div>
					<div class="star_non" id="star5" it="5"></div>

					<input type="radio" value="1" class="hidden rating_review" name="rating" id="rating1"/>
					<input type="radio" value="2" class="hidden rating_review" name="rating" id="rating2"/>
					<input type="radio" value="3" class="hidden rating_review" name="rating" id="rating3"/>
					<input type="radio" value="4" class="hidden rating_review" name="rating" id="rating4"/>
					<input type="radio" value="5" class="hidden rating_review" name="rating" id="rating5"/>
				</div>
				<br />
				<div class="input">
					<span>Ваше имя</span><br />
					<input type="text" name="author" />
				</div>

				<div class="input">
					<span>Ваш Email</span><br />
					<input type="text" name="email" />
				</div>

				<button id="button-review">Оставить отзыв</button>
			</form>
		</div>

		<div class="clear"></div>
	</div>
</div>

<!-- Модальное окно - ОБРАТНЫЙ ЗВОНОК -->
<div class="g-hidden">
	<div class="a-modal" id="callback">
		<div class="c-modal_close arcticmodal-close"></div>

		<div class="wr-hidden">
			<h5>{{ headers.callback|raw }}</h5>
			<h6>Оставьте заявку и наш менеджер<br>свяжется с Вами в течении 15-ти<br>минут</h6>
			<div class="checkout-title"></div>
			<form action="" method="post" class="callback" id="form_callback">
				<div class="input">
					<span>Ваше имя</span><br />
					<input type="text" name="name">
				</div>

				<div class="input">
					<span>Ваш телефон</span><br />
					<input type="text" name="phone" id="callback_phone" value="7" size="25">
				</div>
				<input type="hidden" value="Перезвоните мне" name="text"/>

				<button class="button_message">Оставить заявку</button>
			</form>
		</div>

		<div class="clear"></div>
	</div>
</div>

<!-- Модальное окно - Задать вопрос -->
<div class="g-hidden">
	<div class="a-modal" id="question">
		<div class="c-modal_close arcticmodal-close"></div>

		<div class="wr-hidden">
			<h5>{{ headers.question|raw }}</h5>
			<h6>Если у Вас есть вопрос, мы с<br>радостью на него ответим</h6>
			<div class="checkout-title"></div>
			<form action="" method="post" class="question" id="form_question">
				<div class="input">
					<span>Ваше имя</span><br />
					<input type="text" name="name">
				</div>

				<div class="input">
					<span>Ваш Email</span><br />
					<input type="text" name="email">
				</div>

				<div class="mquestion">
					<span>Ваш вопрос</span><br />
					<textarea name="text" id=""></textarea>
				</div>

				<button class="button_message">Задать вопрос</button>
			</form>
		</div>

		<div class="clear"></div>
	</div>
</div>

<!-- Модальное окно - Оформить заказ -->
<div class="g-hidden">
	<div class="a-modal" id="checkout">
		<div class="c-modal_close arcticmodal-close"></div>

		<div class="wr-hidden">
			<h5>{{ headers.checkout|raw }}</h5>
			<div id="checkout-ad-title"></div>
			<form action="" method="post" class="question" style="width: 700px">
				<div class="input">
					<span>Ф.И.О.</span> <span class="red_s"> * </span><br />
					<input type="text" name="fio" id="checkout_fio" />
				</div>

				<div class="input">
					<span>Контактный телефон</span> <span class="red_s"> * </span><br />
					<input type="text" name="phone" id="customer_phone" value="7" size="25" />
				</div>

				<div class="input">
					<span>Электронная почта</span> <span class="red_s"> * </span><br />
					<input type="text" name="email" id="checkout_email"/>
				</div>

				<div id="show_shipping_post_address">
					<div class="input">
						<div class="shipping_post_address">
							<span>Индекс</span> <span class="red_s"> * </span><br />
							<input type="text" name="index" id="checkout_index"/>
						</div>
						<div class="shipping_post_address" style="margin-right: 0px;">
							<span>Регион</span> <span class="red_s"> * </span><br />
							<input type="text" name="area" id="checkout_area"/>
						</div>
					</div>

					<div class="input">
						<div class="shipping_post_address">
							<span>Область</span> <span class="red_s"> * </span><br />
							<input type="text" name="region" id="checkout_region"/>
						</div>
						<div class="shipping_post_address" style="margin-right: 0px;">
							<span>Город</span> <span class="red_s"> * </span><br />
							<input type="text" name="city" id="checkout_city"/>
						</div>
					</div>
					<div class="clear"></div>
				</div>

				<div class="input" id="address">
					<span>Адрес доставки</span> <span class="red_s"> * </span><br />
					<input type="text" name="address" id="checkout_address"/>
				</div>

				<div class="mquestion">
					<span>Комментарий</span><br />
					<textarea name="comment" id="checkout_comment"></textarea>
				</div>

				<div class="input">
					<span class="red_s"> * </span> Поля обязательны для заполнения
				</div>

				<button id="button_checkout_add">Оформить заказ</button>
			</form>
		</div>

		<div class="clear"></div>
	</div>
</div>

<!-- Модальное окно - Купить в 1 клик -->
<div class="g-hidden">
	<div class="a-modal" id="buy_one_click">
		<div class="c-modal_close arcticmodal-close"></div>

		<div class="wr-hidden">
			<h5>{{ headers.buy_one_click|raw }}</h5>
			<div class="checkout-title"></div>
			<form action="" method="post" class="question" id="buy_one_click_question">
				<div class="input">
					<span>Ваше имя</span><br />
					<input type="text" name="name">
				</div>

				<div class="input">
					<span>Ваш телефон</span><br />
					<input type="text" name="phone" id="buy_one_click_phone" value="7" size="25">
				</div>
				<input type="hidden" value="{{ product.id }}" name="product_id"/>
				<input type="hidden" value="Заявка на покупку" name="text"/>

				<button class="button_message" id="button_buy_one_click">Купить</button>
			</form>

		</div>

		<div class="clear"></div>
	</div>
</div>

<!-- Модальное окно - Уведомить о поступление -->
<div class="g-hidden">
	<div class="a-modal" id="notify_stoke">
		<div class="c-modal_close arcticmodal-close"></div>

		<div class="wr-hidden">
			<h5>{{ headers.notify_stoke|raw }}</h5>
			<div class="checkout-title"></div>
			<form action="" method="post" class="question" id="notify_stoke_form">
				<input type="hidden" id="product_id" value="{{ product.id }}" />
				<div class="input">
					<span>Ваше имя</span><br />
					<input type="text" name="fio" value="" />
				</div>

				<div class="input">
					<span>Ваш телефон</span><br />
					<input type="text" name="phone" id="notify_stoke_phone" value="7" size="25">
				</div>

				<div class="input">
					<span>Ваша эл. почта</span><br />
					<input type="text" name="email" />
				</div>

				<button class="" id="button_notify_stoke">Уведомить</button>

			</form>

		</div>

		<div class="clear"></div>
	</div>
</div>

{% if images|length > 0 %}
<script>
	var left_look = 0, left_buy = 0, step = 216, image_current = 0;
	var image_count = parseInt({{ images|length }})-1;
</script>
<div class="popup_window">
	<div class="overlay"></div>

	<div class="modal_window" id="colorbox1">
		<div class="review_add_close"></div>
		<div class="arrow_left_img"></div>
		<div class="arrow_right_img"></div>
		<div>
			<div class="block_title">
				Фото
			</div>
			<div>
				{{ product.title }}
			</div>
			<div>
				<div class="colorbox_image_block" style="margin-right: 10px">
					{% for image in images %}
						<a href="{{ image.image500x500 }}" title="{{ product.title }}" it="{{ loop.index }}" id="colorbox1_link_{{ loop.index }}"><img src="{{ image.image70x70 }}" title="{{ product.title }}" alt="{{ product.title }}" /></a>
					{% endfor %}
				</div>
			</div>
		</div>
		<div id="colorbox1_container">
			<img src="" id="colorbox1_image" />
		</div>
	</div>
</div>
{% endif %}


<div id="window_spinner">
	<div class="overlay"></div>
	<div class="spinner">
		<img src="/i/spinner1.gif" />
	</div>
</div>