{% if products|length > 1 %}
	<div class="cat-filter">
		{% if num_pages|length > 1 %}
			<div class="show">
				<a href="{{ page_url }}&page=1"><</a>
				{% for p in num_pages %}
					<a {% if p == page %} class="select" {% endif %} href="{{ page_url }}&page={{ p }}">{{ p }}</a>
				{% endfor %}
				<a href="{{ page_url }}&page={{ page_last }}">></a>
			</div>
		{% endif %}
		<div class="show-pag">
			<span>Сортировать:</span>
			<a class="price " href="{{ page_url }}">По цене</a>
			<a class="price select" href="{{ page_url }}">По популярности</a>
		</div>
	</div>
{% endif %}