<div class="slide">
	<div class="relitem">
		<a href="{{ p.url }}" >
			<img src="{{ p.main_image.image100x100 }}" alt="{{ p.title }}" class="relimg" height="100px" id="image_small_product_{{ p.id }}"/>
		</a>
		<a href="{{ p.url }}" class="relname">
			{{ p.title }}
		</a>
		<p class="article">Артикул: {{ p.article }}</p>
		{% if p.price %}
			<div class="price">
				{% if p.special_price %}
					<span class="oldprice">{{ p.price }} <span class="rub">a</span></span>
					<span class="price">{{ p.special_price }} <span class="rub">a</span></span>
				{% else %}
					<span class="price">{{ p.price }} <span class="rub">a</span></span>
				{% endif %}
			</div>
		{% endif %}
		<div class="product_item_button">
			{% if p.quantity == 0 %}
				<a class="button button_quantity_empty" product_id="{{ p.id }}">Уведомить</a>
			{% else %}
				<a class="button product_add_cart" product_id="{{ p.id }}" type="is_small" >В корзину</a>
			{% endif %}
		</div>
	</div>
</div>