<div class="product_item {% if (loop.index % 3) == 0  %}last{% endif %}">
	<img src="{{ p.main_image.image200x200 }}" alt="{{ p.title }}" id="image_product_{{ p.id }}" width="200" height="200"/>
	<div class="product_item_stars">
		<div class="stars">
			<div class="stars_{{ p.rating }} star_f"></div>
		</div>
	</div>
	<div class="product_item_title">
		<a href="{{ p.url }}">{{ p.title }}</a><br/>
		<a href="{{ p.category_url }}" class="product_item_category">{{ p.category_title}}</a>
	</div>
	<div class="price">
		{% if p.special_price %}
			<span class="oldprice">{{ p.price }} <span class="rub">a</span></span>
			<span class="product_item_price">{{ p.special_price }} <span class="rub">a</span></span>
		{% else %}
			<span class="product_item_price">{{ p.price }} <span class="rub">a</span></span>
		{% endif %}
	</div>
	<div class="product_item_button">
		{% if p.quantity == 0 %}
			<a class="button button_quantity_empty" product_id="{{ p.id }}">Уведомить</a>
		{% else %}
			<a class="button product_add_cart" product_id="{{ p.id }}" type="is_middle" >В корзину</a>
		{% endif %}
	</div>
</div>