{% extends "helper/base.twig" %}

{% block body %}
	<div>
		<h2>Заявки</h2>
	</div>
	<table class="table table-striped">
		<tr>
			<th>ФИО</th>
			<th>Телефон</th>
			<th>Эл почта</th>
			<th>Текст</th>
			<th>Продукт</th>
			<th class="text-center">Дата</th>
			<th class="text-center">Действие</th>
		</tr>
		{% for m in message %}
			<tr>
				<td>{{ m.fio }}</td>
				<td>{{ m.telephone }}</td>
				<td>{{ m.email }}</td>
				<td>{{ m.comment }}</td>
				<td>{{ m.product_title }}</td>
				<td class="text-center">{{ m.create_time|date('d.m.Y') }}</td>
				<td class="text-center">
					<a href="{{ m.url_del }}"><span class="glyphicon glyphicon-remove"></span></a>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}