@font-face {
    font-family: OpenSansRegular;
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot') format('embedded-opentype'),
         url('../fonts/opensans-regular.woff') format('woff'),
         url('../fonts/opensans-regular.ttf') format('truetype'),
         url('../fonts/opensans-regular.svg#OpenSansRegular') format('svg');
}

@font-face {
    font-family: OpenSansSemibold;
    src: url('../fonts/opensans-semibold.eot');
    src: url('../fonts/opensans-semibold.eot') format('embedded-opentype'),
         url('../fonts/opensans-semibold.woff') format('woff'),
         url('../fonts/opensans-semibold.ttf') format('truetype'),
         url('../fonts/opensans-semibold.svg#OpenSansSemibold') format('svg');
}

@font-face {
    font-family: PFBeauSansProRegular;
    src: url('../fonts/pfbeausanspro-reg.eot');
    src: url('../fonts/pfbeausanspro-reg.eot') format('embedded-opentype'),
         url('../fonts/pfbeausanspro-reg.woff') format('woff'),
         url('../fonts/pfbeausanspro-reg.ttf') format('truetype'),
         url('../fonts/pfbeausanspro-reg.svg#PFBeauSansProRegular') format('svg');
}

@font-face {
    font-family: PFBeauSansProSemiBold;
    src: url('../fonts/pfbeausanspro-sebold.eot');
    src: url('../fonts/pfbeausanspro-sebold.eot') format('embedded-opentype'),
         url('../fonts/pfbeausanspro-sebold.woff') format('woff'),
         url('../fonts/pfbeausanspro-sebold.ttf') format('truetype'),
         url('../fonts/pfbeausanspro-sebold.svg#PFBeauSansProSemiBold') format('svg');
}

@font-face {
    font-family: PFBeauSansProBold;
    src: url('../fonts/pfbeausanspro-bold.eot');
    src: url('../fonts/pfbeausanspro-bold.eot') format('embedded-opentype'),
         url('../fonts/pfbeausanspro-bold.woff') format('woff'),
         url('../fonts/pfbeausanspro-bold.ttf') format('truetype'),
         url('../fonts/pfbeausanspro-bold.svg#PFBeauSansProBold') format('svg');
}

@font-face {
    font-family: ALSRublRegular;
    src: url('../fonts/rouble-webfont.eot');
    src: url('../fonts/rouble-webfont.eot') format('embedded-opentype'),
         url('../fonts/rouble-webfont.woff') format('woff'),
         url('../fonts/rouble-webfont.ttf') format('truetype'),
         url('../fonts/rouble-webfont.svg#ALSRublRegular') format('svg');
}

@font-face {
    font-family: SegoeUIRegular;
    src: url('../fonts/segoeui.eot');
    src: url('../fonts/segoeui.eot') format('embedded-opentype'),
         url('../fonts/segoeui.woff') format('woff'),
         url('../fonts/segoeui.ttf') format('truetype'),
         url('../fonts/segoeui.svg#SegoeUIRegular') format('svg');
}

@font-face {
    font-family: SegoeUIBold;
    src: url('../fonts/segoeuib.eot');
    src: url('../fonts/segoeuib.eot') format('embedded-opentype'),
         url('../fonts/segoeuib.woff') format('woff'),
         url('../fonts/segoeuib.ttf') format('truetype'),
         url('../fonts/segoeuib.svg#SegoeUIBold') format('svg');
}