@charset "utf-8";
@import "fonts.css";

html {
	overflow-y: scroll;
	margin: 0;
	padding: 0;
}

body {
	background: #097bbe; /* Old browsers */
	background: -moz-linear-gradient(top, #097bbe 0%, #1ba5b8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#097bbe), color-stop(100%,#1ba5b8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #097bbe 0%,#1ba5b8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #097bbe 0%,#1ba5b8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #097bbe 0%,#1ba5b8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #097bbe 0%,#1ba5b8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#097bbe', endColorstr='#1ba5b8',GradientType=0 ); /* IE6-9 */

	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

span.rub {
	font-family: ALSRublRegular;
}

body, td, th, input, textarea, select, a {
	font-size: 13px;
}

a {
	color: #0089be;
}
a:hover{
	color: #7c0001;
}
div.h2 {
	font-size: 28px;
	margin-bottom: 10px;
	margin-top: 10px;
	/*text-decoration: underline;*/
}
.bx-wrapper{
	border: 0px solid #FFFFFF !important;
}
.clear {
	clear: both;
	float: none;
}
.wr-hidden input {
	height: 40px;
	width: 280px;
}
.wr-hidden button {
	background: none repeat scroll 0 0 #ed1380;
	border: medium none;
	border-radius: 3px;
	color: #ffffff;
	font: 15px PFBeauSansProBold;
	height: 30px;
	width: 150px;
	cursor: pointer;
}
.pseudo{
	border-bottom: 1px dashed #000;
	cursor: pointer;
}
.wr-hidden input {
	font-size: 15px !important;
}

#container {
	width: 982px;
	background-color: #FFFFFF;
	margin: 0 auto;
	-webkit-box-shadow: 0 1px 11px 0 rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0 1px 11px 0 rgba(50, 50, 50, 0.75);
	box-shadow: 0 1px 11px 0 rgba(50, 50, 50, 0.75);
}

#container #top_menu {
	width: 982px;
	height: 29px;
	position: relative;
	background-color: #000000;
	padding-top: 11px;
}

#top_menu a {
	color: #FFFFFF !important;
	font-size: 14px;
}

#top_menu div {
	float: left;
	margin: 0 20px;
}
#top_menu .region{
	float: right;
	color: #FFFFFF !important;
	font-size: 14px;
	margin-right: 50px;
}
#header {
	position: relative;
	height: 180px;
	padding: 0 20px;
}

#header #logo {
	background: url("../i/logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	width: 258px;
	height: 94px;
	position: absolute;
	left: 13px;
	top: 15px;
}

#header #header_body {
	margin-left: 260px;
}

#header #header_contact {
	height: 110px;
	padding-top: 20px;
}

#header #header_contact div {
	float: left;
}

#header #header_contact .contact_phone,
#header #header_contact .contact_email {
	position: relative;
}

#header #header_contact .contact_phone img,
#header #header_contact .contact_email img,
#header #header_contact .contact_return img {
	position: absolute;
}

#header #header_contact .contact_return img {
	top: 15px;
}
#header #header_contact .contact_phone_number,
#header #header_contact .contact_phone_call,
#header #header_contact .contact_email_contact,
#header #header_contact .contact_email_send {
	margin-left: 30px;
}

#header #header_contact .contact_phone {
	width: 238px;
	top: -2px;
}

#header #header_contact .contact_email {
	width: 230px;
}

#header #header_contact .contact_return {
	width: 220px;
	margin-left: 15px;
}

.contact_phone_number {
	font-size: 22px;
	color: #2f052f;
}

.contact_email_contact {
	font-size: 16px;
	color: #2f052f;
	margin-bottom: 3px;
}

.contact_return .prod_img{
	background: url("../i/cart_round.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	position: absolute;
	height: 28px;
	width: 28px;
	right: 200px;
	top: 7px;
}


.contact_return .contact_email_contact a {
	font-size: 16px !important;
	color: #2f052f !important;
	margin-bottom: 3px;
	text-decoration: none !important;
}

.contact_return .contact_email_contact,
.contact_return .contact_email_send{
	padding-left: 5px;
}

.contact_phone_call, .contact_email_send {
	font-size: 14px;
}

#header #header_search {
	background: #e01d5e; /* Old browsers */
	background: -moz-linear-gradient(left,  #e01d5e 0%, #e01d5e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e01d5e), color-stop(100%,#e01d5e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #e01d5e 0%,#e01d5e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #e01d5e 0%,#e01d5e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #e01d5e 0%,#e01d5e 100%); /* IE10+ */
	background: linear-gradient(to right,  #e01d5e 0%,#e01d5e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e01d5e', endColorstr='#e01d5e',GradientType=1 ); /* IE6-9 */
	width: 701px;
	height: 50px;
	position: relative;
}

#header_search .header_search_button {
	background: url("../i/search_button.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: medium none;
	height: 31px;
	width: 31px;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 20px;
}

#header_search .header_search_cart {
	position: absolute;
	top: 10px;
	right: 160px;
}

#header_search .header_search_cart a,
#header_search .header_search_list a {
	color: #FFFFFF !important;
	text-decoration: none !important;
}

#header_search .header_search_list {
	color: #FFFFFF;
	position: absolute;
	top: 10px;
	right: 35px;
}

#header_search input {
	background: url("../i/search.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: medium none;
	color: #323232;
	float: left;
	font: 13px;
	height: 39px;
	padding: 0 0 0 14px;
	width: 680px;
	margin: 5px 0 0 5px;
}

/******** LEFT **********/
#left_column {
	float: left;
	width: 230px;
	padding-left: 20px;
}

#left_column img {
	float: left;
}

#left_column .category_item {
	float: none;
	clear: both;
	margin-bottom: 25px;
}

#left_column .category_item > div {
	margin-left: 55px;
	font-size: 14px !important;
}

#left_column .category_item > div a {
	font-size: 14px !important;
}

#left_column .tips_item > div {
	margin-left: 80px;
}

#left_column .category_item div,
#left_column .left_column_news span {
	color: #666666;
	font-size: 11px;
}

#left_column .tips_item div {
	line-height: 1.5;
	margin-top: 5px;
	font-size: 12px;
}

#left_column .delimiter {
	margin-bottom: 20px;
	clear: both;
}

#left_column .category_item_pers {
	padding-top: 7px;
	margin-left: 60px !important;
	font-size: 16px;
}

#left_column .left_column_news div {
	margin-top: 5px;
}

/******** body **********/
#content {
	float: right;
	width: 700px;
	padding-right: 20px;
}

.product_item {
	width: 220px;
	height: 340px;
	margin: 0 17px 20px 0;
	padding-top: 10px;
	float: left;
	text-align: center;
	position: relative;
}

.category_products {
	margin-top: 20px;
}

.category_products .last {
	margin-right: 0 !important;
}

.product_item_button a.button{
	background: none repeat scroll 0 0 #ed1380;
	border-radius: 3px;
	color: #ffffff;
	display: block;
	font-size: 12px;
	line-height: 2.5;
	height: 30px;
	text-align: center;
	text-decoration: none;
	margin: 0 auto;
	width: 90px;
}
.product_item_button a.button:hover {
	background: none repeat scroll 0 0 #9E1151;
}

.product_item .product_item_star,
.product_item .product_item_stars,
.product_item .product_item_title{
	margin-bottom: 5px;
}
.product_item .product_item_star{
	float: left;
	margin-right: 10px;
}
.product_item_stars .stars{
	margin: 0 auto;
}

.product_item .product_item_title {
	height: 45px;
	line-height: 1.3;
}

.product_item .product_item_category {
	color: #666666 !important;
	font-size: 11px;
}

div.product_item span.oldprice {
	color: #411671;
	font: 12px/20px OpenSansRegular;
	text-decoration: line-through;
}
div.product_item span.product_item_price {
	color: #FF0000;
	font: 16px/20px OpenSansSemibold;
}
div.product_item div.price {
	margin: 10px 0 5px;
}



.product_video, .description {
	margin-top: 10px;
}

#description {
	clear: both;
	margin-top: 10px;
}

#description #description_content {
	height: 150px;
	overflow: scroll;
	margin-right: 20px;
	text-align: justify;
	text-indent: 25px;
	margin-bottom: 20px;
	padding: 10px 20px 10px 0;
}

.div_height {
	height: 20px;
}

/************** Footer *************/
#footer {
	margin: 20px 0;
	padding: 0 20px;
}

#footer #footer_border {
	border-top: 2px #000000 solid;
}

#footer .footer_column {
	float: left;
	width: 25%;
}

#footer .footer_column div {
	margin-bottom: 5px;
}

#footer_gradient_container {
	background-color: #520011;
	padding: 15px 0;
	color: #FFFFFF;
}

#footer_gradient_container div {
	width: 982px;
	margin: 0 auto;
}

#footer .contact_email img,
#footer .contact_phone img {
	position: absolute;
}

#footer .contact_phone div,
#footer .contact_email div {
	margin-left: 30px;
}

#footer .contact_phone {
	margin-bottom: 15px;
}

/*********************************/
ol, ul {
	list-style: outside none none;
}

div.breadcrumbs {
	margin: -7px 0 15px;
	width: 100%;
}

div.breadcrumbs ul {
	padding: 0;
	margin: 0;
}

div.breadcrumbs ul li {
	background: url("../i/breadcrumbs.png") no-repeat scroll right rgba(0, 0, 0, 0);
	color: #666666;
	display: inline;
	font: 13px/20px OpenSansRegular;
	list-style: outside none none;
	margin: 0 1px 0 0;
	padding: 0 8px 0 0;
}

div.breadcrumbs ul li a {
	color: #666666;
	font: 13px/20px OpenSansRegular;
}

div.breadcrumbs ul li:last-child {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

/**********************************/
div.cat-filter {
	background: none repeat scroll 0 0 #f3e9f3;
	border-radius: 4px;
	height: 30px;
	margin: 10px 0 20px;
	padding: 10px 0;
	width: 100%;
}

div.show {
	float: left;
	margin: 7px 0 0 10px;
}

div.show span {
	color: #333333;
	font: 13px/30px OpenSansRegular;
	margin: 0 2px 0 10px;
}

div.show a {
	background: none repeat scroll 0 0 #ffffff;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.36);
	color: #333333;
	font: 15px PFBeauSansProRegular;
	margin: 0 3px 0 0;
	padding: 5px 10px;
	text-decoration: none;
}

div.page .select, div.show-pag .select, div.show .select {
	background: none repeat scroll 0 0 #ffaddd !important;
}

div.show-pag {
	float: right;
}

div.show-pag span {
	color: #333333;
	font: 13px/30px OpenSansRegular;
	margin: 0 2px 0 10px;
}

div.show-pag a {
	background: none repeat scroll 0 0 #ffffff;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.36);
	color: #333333;
	font: 15px PFBeauSansProRegular;
	margin: 0 6px 0 0;
	padding: 5px;
	text-decoration: none;
}

div.cat-descript {
	background: none repeat scroll 0 0 #f3e9f3;
	border-radius: 4px;
	margin: 20px 0 0;
	padding: 8px 0 14px;
	width: 100%;
}
div.cat-descript p {
	color: #666666;
	font: 13px/20px PFBeauSansProRegular;
	padding: 7px 14px 0 93px;
	margin: 0;
}

div.cat-descript img {
	float: left;
	margin: 0 0 0 10px;
}

/*************** Product *******************/
div.product {
	margin: 10px 0 0;
	position: relative;
	width: 100%;
}

div.product a.print {
	position: absolute;
	right: 0;
	top: 0;
}

div.gallerybox .bx-viewport{
	height: 355px !important;
}
div.gallerybox {
	float: left;
	margin: 7px 18px 15px 0;
	width: 342px;
}
.gallery img{
	border: 1px solid #e6e6e6;
	border-radius: 3px;
}
#gallery-pager img {
	border: 1px solid #e6e6e6;
	border-radius: 3px;
	margin: 10px 10px 0 0;
}

#gallery-pager a:last-child img {
	margin-right: 0;
}

p.videolink {
	margin: 25px 0 0;
}

p.videolink a {
	border-bottom: 1px dotted #333;
	color: #333333;
	font: 13px PFBeauSansProBold;
	text-decoration: none;
}

div.infobox {
	float: left;
	margin: 0;
	width: 340px;
}

div.infobox p.article {
	color: #333333;
	font: 15px SegoeUIBold;
}

div.infobox div.rating {
	color: #666666;
	font: 13px OpenSansRegular;
}

div.infobox div.rating div.stars{
	float: left;
	margin-right: 10px;
}
div.infobox div.reviewlink{
	padding: 3px 0 0 10px;
}
div.infobox div.reviewlink a{
	color: #666666;
	text-decoration: none;
	border-bottom: 1px dotted #666666;
}

div.infobox p.rating img {
	padding: 0 2px 0 0;
	position: relative;
	top: 3px;
}

div.infobox p.stock {
	color: #666666;
	font: 13px SegoeUIRegular;
	margin: 10px 0 0;
}

div.infobox p.stock span.yes {
	color: #3ab510;
}

div.infobox p.stock span.no {
	color: #ff0000;
}

div.infobox p.oldprice {
	color: #411671;
	float: left;
	font: 24px SegoeUIRegular;
	margin: 18px 24px 0 0;
	text-decoration: line-through;
}

div.infobox p.price {
	color: #ff0000;
	font: 30px SegoeUIRegular;
	margin: 12px 0 0;
}

div.infobox a.order {
	background: none repeat scroll 0 0 #ed1380;
	border-radius: 4px;
	color: #ffffff;
	display: block;
	font: 23px/40px PFBeauSansProSemiBold;
	height: 40px;
	margin: 17px 0 0;
	text-align: center;
	text-decoration: none;
	width: 170px;
}

div.infobox a.disabled, a.button_quantity_empty {
	background: none repeat scroll 0 0 #666666 !important;
	opacity: 0.8 !important;
}

div.infobox a.oneclick {
	color: #00a4dc;
	display: block;
	font: 15px PFBeauSansProRegular;
	height: 20px;
	margin: 10px 0 0;
	text-align: center;
	width: 170px;
	cursor: pointer;
}

div.share {
	color: #333333;
	float: left;
	font: 13px/25px OpenSansRegular;
	height: 20px;
	width: 80px;
}

div.specification {
	margin: 10px 0 0;
	width: 100%;
}

div.specification h5 {
	color: #411671;
	font: 24px OpenSansSemibold;
	margin: 0 0 6px;
}

div.spec-1 {
	color: #333333;
	float: left;
	font: 13px/20px OpenSansSemibold;
	width: 125px;
}

div.spec-2 {
	color: #666666;
	float: left;
	font: 13px/20px OpenSansRegular;
	width: 170px;
}

div.share {
	color: #333333;
	float: left;
	font: 13px/25px OpenSansRegular;
	height: 20px;
	width: 80px;
}

div.related {
	margin: 40px 0 0;
	width: 100%;
}

div.related h5 {
	color: #411671;
	font: 30px PFBeauSansProRegular;
}

div.relslide {
	width: 100%;
}

div.relitem {
	height: 226px;
	margin: 15px auto;
	position: relative;
	text-align: center;
	width: 196px;
}

div.relitem img {
	display: inline;
}

div.relitem a.relname {
	color: #00a4dc;
	display: block;
	font: 13px/20px OpenSansRegular;
	padding: 0 10px;
	text-align: center;
    height: 40px;
}

div.relitem p.article {
	color: #666666;
	display: block;
	font: 12px SegoeUIRegular;
	text-align: center;
	width: 100%;
	margin: 5px 0;
}
div.relitem span.price{
	margin: 10px 0;
}
div.relitem span.oldprice {
	color: #ed1380;
	font: 12px/20px OpenSansRegular;
	text-decoration: line-through;
}
div.relitem div.price {
	margin: 10px 0 5px;
}
div.relitem span.price {
	color: #411671;
	font: 16px/20px OpenSansSemibold;
}

div.see {
	margin: 23px 0 0;
	width: 100%;
}

div.see h5 {
	color: #411671;
	font: 30px PFBeauSansProRegular;
	margin: 0;
}

div.seeslide {
	width: 100%;
}

div.reviewbox {
	margin: 25px 0 0;
	position: relative;
	width: 100%;
}

div.reviewbox h5 {
	color: #411671;
	font: 24px OpenSansSemibold;
	margin: 0 0 11px;
}

div.reviewbox a.addreview {
	border-bottom: 1px dashed #00a4dc;
	color: #00a4dc;
	position: absolute;
	right: 0;
	text-decoration: none;
	top: 12px;
	cursor: pointer;
}

div.review {
	border-bottom: 1px solid #f3e9f3;
	margin: 0 0 15px;
	padding: 0 0 5px;
	position: relative;
	width: 100%;
}

div.review:last-child {
	border: medium none;
}

div.review img.rating {
	left: 0;
	position: absolute;
	top: 0;
}

div.review p.name {
	color: #333333;
	font: 13px OpenSansSemibold;
	left: 0;
	position: absolute;
	top: 27px;
}

div.review p.date {
	color: #747474;
	font: 11px OpenSansRegular;
	left: 0;
	position: absolute;
	top: 50px;
}

div.review p.txt {
	color: #333333;
	font: 13px/20px OpenSansRegular;
	margin: 0 0 10px;
	padding: 0 0 0 160px;
}

div.review p.txt span {
	font: 13px OpenSansSemibold;
}

/*************** Product *******************/


/*************** Cart **********************/
div.basket {
	margin: 22px auto;
	width: 940px;
}
div.basket table {
	border-bottom: 1px solid #f3e9f3;
	width: 100%;
}
div.basket table tr:first-child {
	padding-top: 10px;
}
div.basket table th {
	border-bottom: 1px solid #f3e9f3;
	border-top: 1px solid #f3e9f3;
	color: #333333;
	font: 15px SegoeUIBold;
	height: 30px;
	vertical-align: middle;
}
div.basket table th:first-child {
	text-align: left;
	width: 417px;
}
div.basket table th.col {
	width: 200px;
}
div.basket table td {
	color: #333333;
	font: 13px SegoeUIRegular;
	padding: 10px 0;
	text-align: center;
	vertical-align: middle;
}
div.basket table td:first-child {
	text-align: left;
}
div.basket table td:last-child {
	text-align: right;
}
div.basket table img.basketimg {
	border: 2px solid #e6e6e6;
	border-radius: 2px;
	float: left;
	margin: 0 20px 0 0;
}
div.basket table a.name {
	color: #00a4dc;
	display: block;
	font: 13px/20px OpenSansRegular;
	padding: 40px 0 0;
}
div.basket table select {
	background: none repeat scroll 0 0 #f8f8f8;
	border: medium none;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.36) inset;
	color: #333333;
	font: 13px OpenSansRegular;
	padding: 10px 20px;
	width: 80px;
}
div.basket a.update {
	display: block;
	float: left;
	margin-top: 5px;
	cursor: pointer;
}
.button, .remove{
	cursor: pointer;
}
div.basket table a.update img {
	transition: all 0.4s ease-out 0s;
}
div.basket table a.update img:active {
	transform: rotate(360deg);
}
form.update {
	display: block;
	float: left;
	margin: 0 10px 0 50px;
}
div.delivery {
	border-bottom: 1px solid #f3e9f3;
	float: right;
	margin: 15px 0 0;
	padding: 0 0 5px;
	text-align: right;
	width: 460px;
}
div.delivery p.totaltxt {
	color: #333333;
	font: 13px/20px OpenSansRegular;
	margin: 0;
}
div.delivery p.totalsum {
	color: #333333;
	float: right;
	font: 13px/20px OpenSansSemibold;
	margin: 0 0 0 30px;
	width: 70px;
}
div.delivery form {
	margin: 10px 0;
	float: left;
}
div.delivery select {
	background: none repeat scroll 0 0 #f8f8f8;
	border: medium none;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.36) inset;
	color: #333333;
	font: 13px OpenSansRegular;
	padding: 10px;
	width: 280px;
}
div.delivery p.deliverysum {
	color: #333333;
	float: right;
	font: 13px/40px OpenSansSemibold;
	margin: 0 0 0 30px;
	width: 70px;
}
div.total {
	float: right;
	margin: 10px 0;
	text-align: right;
}
div.total p.sum {
	color: #411671;
	float: right;
	font: 24px PFBeauSansProRegular;
	width: 100px;
	margin-top: 16px;
}
div.total p.txt {
	color: #333333;
	float: right;
	font: 18px OpenSansRegular;
}
div.basket a.button {
	background: none repeat scroll 0 0 #ed1380;
	border-radius: 4px;
	color: #ffffff;
	display: block;
	float: right;
	font: 23px/40px PFBeauSansProSemiBold;
	height: 40px;
	margin: 20px 0 70px;
	text-align: center;
	text-decoration: none;
	width: 220px;
}


div.delivery select{
	padding: 5px;
	margin-bottom: 10px;
}
div.delivery p.deliverysum{
	position: absolute;
	top: -5px;
	right: 0;
}
#shipping_geo, #shipping{
	display: none;
}
div.delivery form{
	margin: 10px 100px 10px 0 !important;
}
#shipping_description {
	font-size: 12px;
	text-align: left;
	margin-left: 80px;
	color: #666666;
	margin-bottom: 10px;
}

/*************** Cart **********************/



div.mvalue {
	float: left;
	margin: 0 20px 0 0;
}
div.mvalue textarea {
	height: 90px;
	width: 340px;
}
div.mlimitations {
	float: left;
}
div.mlimitations textarea {
	height: 90px;
	width: 340px;
}
div.mvalue2 {
	float: left;
	margin: 10px 0 0;
}
div.mvalue2 textarea {
	height: 90px;
	margin: 5px 0 15px;
	width: 720px;
}
form.addreview p.rating {
	color: #333333;
	font: 13px OpenSansSemibold;
}
form.addreview div.input {
	margin: 10px 0;
}
form.addreview input {
	height: 40px;
	width: 280px;
}
form.addreview button {
	background: none repeat scroll 0 0 #ed1380;
	border: medium none;
	border-radius: 3px;
	color: #ffffff;
	font: 15px PFBeauSansProBold;
	height: 30px;
	width: 150px;
}
div.mquestion textarea {
	height: 110px;
	margin: 5px 0 15px;
	width: 280px;
}
.hidden {
	display: none;
}


.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}
.alert h4 {
	margin-top: 0;
	color: inherit;
}
.alert .alert-link {
	font-weight: bold;
}
.alert > p,
.alert > ul {
	margin-bottom: 0;
}
.alert > p + p {
	margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
	padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
	position: relative;
	top: -2px;
	right: -21px;
	color: inherit;
}
.alert-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}
.alert-success hr {
	border-top-color: #c9e2b3;
}
.alert-success .alert-link {
	color: #2b542c;
}
.alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
.alert-info hr {
	border-top-color: #a6e1ec;
}
.alert-info .alert-link {
	color: #245269;
}
.alert-warning {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}
.alert-warning hr {
	border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
	color: #66512c;
}
.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
.alert-danger hr {
	border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
	color: #843534;
}

#notification{
	margin-top: 5px;
	width: 97%;
}
#notification .alert{
	padding: 5px !important;
}
div.review p.txt {
	color: #333333;
	font: 13px/20px OpenSansRegular;
	margin: 0 0 10px;
	padding: 0 0 0 160px;
}
.review .stars {
	position: absolute;
}
#checkout .input input,
#checkout textarea{
	width: 680px !important;
}
div.starts_block{
	float: none;
	clear: both;
}
p.rating{
	margin-bottom: 0;
}

/***************** Stars ***************/
.stars{
	background: url("../i/star_n.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
	width: 125px;
	position: relative;
	height: 25px;
}
.star_non{
	background: url("../i/star_n.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
	width: 25px;
	height: 25px;
	float: left;
	cursor: pointer;
}
.star_f{
	position: relative;
	height: 25px;
	background: url("../i/star.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
}
.stars_0{
    width: 0;
}
.stars_1{
	width: 25px;
}
.stars_2{
	width: 50px;
}
.stars_3{
	width: 75px;
}
.stars_4{
	width: 100px;
}
.stars_5{
	width: 125px;
}
/***************** Stars ***************/



.modal_window{
	background-color: #ffffff;
	position: relative;
	margin: 40px auto 0px;
	border: 1px solid rgba(243, 124, 170, 0.25);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 20px;
	z-index: 102;
	display: none;
	box-shadow: 0 2px 2px #dddddd;
	font-weight: normal;
	width: 530px;
	height: 100%;
}
.modal_window .block_title{
	font-size: 16px !important;
}

.modal_window .block_text{
	margin-bottom: 10px;
}
#colorbox1_container{
	padding: 2px;
	border: 1px solid #f1f1e3;
	width: 500px;
	height: 500px;
	margin-left: 13px;
}

.colorbox_image_block{
	margin: 5px 0;
}
.popup_window{
	display: none;
	height: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	overflow: scroll;

}
.popup_window > .overlay {
	background-color: rgba(0, 0, 0, 0.7);
	height: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}
.modal_window .review_add_close{
	background: url("../i/cross.png") no-repeat scroll left top rgba(0, 0, 0, 0);
	cursor: pointer;
	height: 9px;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 9px;
}

#colorbox1 .arrow_left_img,
#colorbox1 .arrow_right_img{
	position: absolute;
	top: 80px;
	cursor: pointer;
}
#colorbox1 .arrow_left_img,
#colorbox1 .arrow_right_img{
	top: 380px;
}
#colorbox1 .arrow_left_img{
	background: url("../i/prev-arrow.png") no-repeat scroll 0 0 #ffffff;
	width: 12px;
	height: 46px;
	left: 0;
}
#colorbox1 .arrow_left_img{
	left: 8px;
}
#colorbox1 .arrow_left_img:hover{
	background: url("../i/prev-arrow-hover.png") no-repeat scroll 0 0 #ffffff;
}
#colorbox1 .arrow_right_img{
	background: url("../i/next-arrow.png") no-repeat scroll 0 0 #ffffff;
	width: 12px;
	height: 46px;
	right: 0;
}
#colorbox1 .arrow_right_img{
	right: 8px;
}
#colorbox1 .arrow_right_img:hover{
	background: url("../i/next-arrow-hover.png") no-repeat scroll 0 0 #ffffff;
}



/*********************/
#window_spinner{
	display: none;
}
#window_spinner > .overlay {
	/*background-color: #fff;*/
	height: 100%;
	margin: 0;
	/*opacity: 0.6;*/
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 900;
}
#window_spinner > .spinner {
	margin: 0;
	padding: 0;
	position: fixed;
	top: 45%;
	width: 100%;
	z-index: 1000;
	text-align: center;
}
/*********************/
#checkout .shipping_post_address input {
	width: 300px !important;
}
.shipping_post_address {
	float: left;
	margin-right: 60px;
}

div.no_change_shipping {
	background: none repeat scroll 0 0 #d9245c;
	border-radius: 3px;
	color: #ffffff;
	display: none;
	font-size: 12px;
	padding: 3px;
	position: absolute;
	left: -125px;
	top: 10px;
	width: 170px;
	z-index: 10;
	text-align: center;
}