/**
 * Copyright (c) 2014 mopapy.
 * mail - mopapy@gmail.com
**/
@charset "utf-8";

/*** Connect All Style ***/
@import "fonts.css";

/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    background: url(../images/bg/bg.png) repeat-x;
    line-height: 1.3;
    font-family: OpenSansRegular;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input, button, textarea {
    outline: none;
}

a {
    text-decoration: underline;
}

a, button {
    cursor: pointer;
}

a:hover, button:hover {
    opacity: 0.8;
}

/*** Block HEAD Style ***/
div.head {
    width: 940px;
    height: 230px;
    margin: 0 auto;
    position: relative;
}

div.head a img.logo {
    position: absolute;
    top: 10px;
    left: 0;
}

div.h-delivery {
    background: url(../images/icons/icon-delivery.png) no-repeat 0 0;
    position: absolute;
    top: 22px;
    left: 240px;
    padding: 0 0 0 33px;
}

div.h-delivery p {
    font: 14px/20px PFBeauSansProBold;
    color: #333333;
}

div.h-delivery a {
    font: 13px/20px OpenSansRegular;
    color: #00a4dc;
    text-decoration: underline;
}

div.h-callback {
    background: url(../images/icons/icon-callback.png) no-repeat 0 20px;
    position: absolute;
    top: 2px;
    left: 497px;
    padding: 0 0 0 33px;
}

div.h-callback p {
    font: 14px/20px PFBeauSansProBold;
    color: #333333;
}

div.h-callback a {
    font: 13px/20px OpenSansRegular;
    color: #00a4dc;
    text-decoration: underline;
}

div.h-basket {
    background: url(../images/icons/icon-basket.png) no-repeat 0 0;
    position: absolute;
    top: 22px;
    left: 730px;
    padding: 0 0 0 26px;
}

div.h-basket p {
    font: 14px/20px PFBeauSansProBold;
    color: #333333;
}

div.h-basket p.items {
    font: 13px/20px OpenSansRegular;
}

div.h-basket a {
    font: 13px/20px OpenSansRegular;
    color: #00a4dc;
    text-decoration: underline;
}

div.topmenu {
    position: absolute;
    top: 68px;
    left: 114px;
}

div.topmenu span.cloud1 a {
    background: url(../images/bg/menu1.png) no-repeat;
    display: block;
    width: 221px;
    height: 162px;
    text-align: center;
    text-transform: uppercase;
    color: #00a4dc;
    font: 15px/184px PFBeauSansProBold;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

div.topmenu span.cloud1 a:hover {
    background: url(../images/bg/menu1-hover.png) no-repeat;
    text-decoration: none;    
}

div.topmenu span.cloud2 {
    background: url(../images/bg/cloud.png) no-repeat;
    display: block;
    width: 175px;
    height: 119px;
    position: absolute;
    left: 166px;
    top: 9px;
    z-index: 2;
}

div.topmenu span.cloud3 a {
    background: url(../images/bg/menu2.png) no-repeat;
    display: block;
    width: 230px;
    height: 137px;
    text-align: center;
    text-transform: uppercase;
    color: #00a4dc;
    font: 15px/138px PFBeauSansProBold;
    position: absolute;
    left: 281px;
    top: 23px;
    z-index: 3;
    padding: 0 15px 0 0;
}

div.topmenu span.cloud3 a:hover {
    background: url(../images/bg/menu2-hover.png) no-repeat;
    text-decoration: none;    
}

div.topmenu span.cloud4 {
    background: url(../images/bg/cloud.png) no-repeat;
    display: block;
    width: 175px;
    height: 119px;
    position: absolute;
    left: 447px;
    top: 43px;
    z-index: 4;
}

div.topmenu span.cloud5 a {
    background: url(../images/bg/menu3.png) no-repeat;
    display: block;
    width: 274px;
    height: 137px;
    text-align: center;
    text-transform: uppercase;
    color: #00a4dc;
    font: 15px/134px PFBeauSansProBold;
    position: absolute;
    left: 549px;
    top: 25px;
    z-index: 5;
    padding: 0 0 0 17px;
}

div.topmenu span.cloud5 a:hover {
    background: url(../images/bg/menu3-hover.png) no-repeat;
    text-decoration: none;    
}


div.wrap {
    width: 940px;
    margin: 0 auto;
}


/*** Block SIDEBAR Style ***/
div.sidebar {
    width: 220px;
    float: left;    
}


/*** Block FILTER Style ***/
div.filter {
    background: #f3e9f3;
    width: 200px;
    padding: 30px 10px 15px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

form.search {

}

form.search input {
    background: url(../images/bg/search-input.png) no-repeat;
    width: 153px;
    height: 40px;
    border: none;
    float: left;
    padding: 0 0 0 10px;
    color: #ed1380;
    font: 13px OpenSansRegular;
}

form.search button {
    background: url(../images/bg/search-button.png) no-repeat;
    width: 37px;
    height: 40px;
    border: none;
}

form.search button:hover {
    opacity: 1;
}

form.filter {
    padding: 12px 0 0;
}

form.filter p.title {
    font: 18px/20px PFBeauSansProBold;
    color: #411671;
    margin: 11px 0;
}

form.filter input {
    margin: 0 7px 13px 0;
}

form.filter label {
    font: 13px OpenSansRegular;
    color: #666666;
}

form.filter input.send {
    border: none;
    background: #ed1380;
    width: 120px;
    height: 30px;
    font: 15px PFBeauSansProBold;
    color: #FFFFFF;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    margin: 14px 0 0;
    cursor: pointer;
}

form.filter input.send:hover {
    opacity: 0.8;
}

form.filter input.reset {
    border: none;
    background: none;
    width: 65px;
    height: 30px;
    font: 13px OpenSansRegular;
    color: #666666;
    text-decoration: underline;
    cursor: pointer;
}

form.filter input.reset:hover {
    opacity: 0.8;
}

/*** Block GRAFICMENU Style ***/
div.graficmenu {
    width: 220px;
    margin: 40px 0;
}

div.graficmenu h3 {
    font: normal 30px PFBeauSansProRegular;
    color: #411671;
    margin: 15px 0 10px; 
}

div.graficmenu ul {

}

div.graficmenu ul li {
    background: #f3e9f3;
    width: 218px;
    height: 78px;
    margin: 0 0 10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #f3e9f3;
}

div.graficmenu ul li:hover {
    -webkit-box-shadow: 0 1px 12px rgba(129,78,184,0.2);
    -moz-box-shadow: 0 1px 12px rgba(129,78,184,0.2);
    box-shadow: 0 1px 12px rgba(129,78,184,0.2);
    border: 1px solid #e8d7e8;
}

div.graficmenu a {
    width: 220px;
    height: 80px;
    display: block;
    text-decoration: none;
}

div.graficmenu a:hover {
    opacity: 1;
}

div.graficmenu img {
    float: left;
    margin: 7px 23px 8px 8px;
}

div.graficmenu p.txt1 {
    font: 15px/20px PFBeauSansProBold;
    color: #50297a;
    padding: 20px 0 0;
}

div.graficmenu p.txt2 {
    font: 13px/20px PFBeauSansProBold;
    color: #666666;

}

div.graficmenu p.bigtext {
    padding: 12px 0 0;
}

div.graficmenu p.midle {
    font: 15px/80px PFBeauSansProBold;
    padding: 0;
}


/*** Block POPULAR Style ***/
div.popular {
    width: 220px;
    margin: 40px 0;
}

div.popular h3 {
    font: normal 30px PFBeauSansProRegular;
    color: #411671;
    margin: 15px 0; 
}




/*** Block ITEM Style ***/
div.item {
    width: 216px;
    height: 366px;
    border: 2px solid #f3e9f3;
    position: relative;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
}

div.item:hover {
    -webkit-box-shadow: 0 1px 12px rgba(129,78,184,0.2);
    -moz-box-shadow: 0 1px 12px rgba(129,78,184,0.2);
    box-shadow: 0 1px 12px rgba(129,78,184,0.2);
}

div.item img.item-img {
    text-align: center;
    margin: 12px auto 0;
}

div.item a.item-name {
    position: absolute;
    top: 225px;
    left: 0;
    display: block;
    text-align: center;
    font: 13px/20px OpenSansRegular;
    color: #00a4dc;
    padding: 0 10px;
}

div.item p.article-id {
    position: absolute;
    top: 283px;
    left: 7px;
    font: 12px/20px SegoeUIRegular;
    color: #666666;
}

div.item p.rating {
    position: absolute;
    top: 283px;
    left: 120px;
    font: 12px/20px OpenSansRegular;
    color: #666666;
}
div.item p.quantity,
div.item p.quantity_empty {
    position: absolute;
    top: 343px;
    width: 100%;
    font: 12px/20px OpenSansRegular;
    color: #4b9702;
}
div.item p.quantity_empty {
    color: #666666;
    cursor: pointer;
}
div.item span.buy_now{
    background: url(../images/buy_now.png) no-repeat;
    font-size: 12px;
    height: 42px;
    left: -6px;
    padding-top: 3px;
    position: absolute;
    top: 5px;
    width: 120px;
    color: #ffffff;
	z-index: 100;
}
div.item p.quantity_empty span.quantity_empty_help {
    background: url(../images/quantity_empty_help.png) no-repeat;
    display: block;
    height: 14px;
    width: 14px;
    position: absolute;
    top: 3px;
    right: 45px;
}
div.topmenu a.menu_select{
    color: #d9245c !important;
}
div.item p.quantity_empty span.quantity_empty_content {
    background: #d9245c;
    width: 170px;
    position: absolute;
    top: 23px;
    right: -35px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 12px;
    padding: 3px;
    z-index: 10;
    display: none;
}
div.item p.hover span.quantity_empty_content,
div.item p.hover span.quantity_empty_cursor {
	display: block !important;
}
div.item p.quantity_empty span.quantity_empty_cursor {
    position: absolute;
    background: url(../images/quantity_empty_help_cursor.png) no-repeat;
    top: 18px;
    left: 159px;
    width: 10px;
    height: 5px;
	z-index: 1;
	display: none;
}
div.item p.rating img {
    display: inline;
}

div.item p.old-price {
    position: absolute;
    top: 316px;
    left: 7px;
    font: 12px/20px OpenSansRegular;
    color: #666666;
    text-decoration: line-through;
}

div.item p.price {
    position: absolute;
    top: 314px;
    left: 55px;
    font: 16px/20px OpenSansSemibold;
    color: #411671;
}

div.item a.button {
    background: #ed1380;
    width: 90px;
    height: 30px;
    position: absolute;
    top: 309px;
    left: 117px;
    font: 13px/30px PFBeauSansProBold;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    text-align: center;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

div.item p.label-new {
    background: url(../images/bg/label-new.png) no-repeat;
    display: block;
    height: 63px;
    width: 102px;
    position: absolute;
    top: -12px;
    right: -6px;
    z-index: 9;
}

div.item p.label-hit {
    background: url(../images/bg/label-hit.png) no-repeat;
    display: block;
    height: 63px;
    width: 102px;
    position: absolute;
    top: -12px;
    right: -6px;
    z-index: 9;
}

div.item p.label-promo {
    background: url(../images/bg/label-promo.png) no-repeat;
    display: block;
    height: 63px;
    width: 102px;
    position: absolute;
    top: -12px;
    right: -6px;
    z-index: 9;
}



/*** Block CONTENT Style ***/
div.content {
    width: 700px;
    float: right;
}

div.slider {
    width: 100%;
    height: 270px;
}

div.slider a:hover {
    opacity: 1;
}

/*** Block NOVETLY Style ***/
div.novelty {
    width: 100%;
    position: relative;
    margin: 0 0 20px;
}

div.novelty h3 {
    font: 30px PFBeauSansProRegular;
    color: #411671;
    padding: 0 0 12px;
}

div.novelty a.more {
    position: absolute;
    top: 16px;
    right: 0;
    font: 13px OpenSansRegular;
    color: #666666;
}

div.nov {
    float: left;
    margin: 0 20px 20px 0;
}



/*** Block HIT-SALE Style ***/
div.hit-sale {
    width: 100%;
    position: relative;
    margin: 0 0 20px;
}

div.hit-sale h3 {
    font: 30px PFBeauSansProRegular;
    color: #411671;
    padding: 0 0 12px;
}

div.hit-sale a.more {
    position: absolute;
    top: 16px;
    right: 0;
    font: 13px OpenSansRegular;
    color: #666666;
}

div.hit {
    float: left;
    margin: 0 20px 20px 0;
}

div.hit p.old-price {
    color: #ed1380;
    font: 12px/20px OpenSansSemibold;
}


/*** Block ABOUT Style ***/
div.about {
    width: 100%;
    position: relative;
    margin: 0 0 20px;
	font-size: 13px;
}
div.about strong{
	font-weight: bold !important;
	font: 13px/20px OpenSansSemibold;
}
div.about table,
div.about tbody,
div.about thead,
div.about tr,
div.about th,
div.about td{
	border: 1px solid #000000;
}
div.about h3 {
    font: 30px PFBeauSansProRegular;
    color: #411671;
    padding: 0 0 7px;
}

div.about p {
    font: 13px/20px OpenSansRegular;
    color: #333333;
    margin: 0 0 10px;
}
/*** Block INFO Style ***/
#info {
    background: url(../images/bg/info-bg.png) repeat-x;
    width: 100%;
    min-width: 940px;
    margin: 0 auto;
    height: 256px;
}

div.info {
    margin: 13px auto 0;
    padding-top: 7px;
    width: 940px;
    position: relative;
}

div.categories {
    width: 480px;
    float: left;
}

div.categories h5 {
    font: 18px PFBeauSansProRegular;
    color: #411671;
    padding: 0 0 10px;
}

ul.cat1 {
    width: 50%;
    float: left;
    margin: 0 0 10px;
}

ul.cat1 li {
    font: 13px/20px OpenSansRegular;
    list-style: none;
}

ul.cat1 li a {
    color: #666666;
    text-decoration: none;
}

ul.cat2 {
    width: 50%;
    float: left;
    margin: 0 0 10px;
}

ul.cat2 li {
    font: 13px/20px OpenSansRegular;
    list-style: none;
}
ul.cat2 li a {
    color: #666666;
    text-decoration: none;
}


ul.cat3 {
    width: 50%;
    float: left;
    margin: 0 0 10px;
}

ul.cat3 li {
    font: 13px/20px OpenSansRegular;
    list-style: none;
}

ul.cat3 li a {
    color: #666666;
    text-decoration: none;
}

ul.cat4 {
    width: 50%;
    float: left;
    margin: 0 0 10px;
}

ul.cat4 li {
    font: 13px/20px OpenSansRegular;
    list-style: none;
}
ul.cat4 li a {
    color: #666666;
    text-decoration: none;
}

div.client {
    width: 240px;
    float: left;
}

div.client h5 {
    font: 18px PFBeauSansProRegular;
    color: #411671;
    padding: 0 0 10px;
}

div.client ul li {
    font: 13px/20px OpenSansRegular;
    list-style: none;
}

div.client ul li a {
    color: #666666;
    text-decoration: none;
}

div.client ul li a.write {
    color: #00a4dc;
    text-decoration: underline;
}

div.info-contact {
    width: 220px;
    float: left;
}

div.info-contact h5 {
    font: 18px PFBeauSansProRegular;
    color: #411671;
    padding: 0 0 10px;
}

div.info-contact ul li {
    font: 13px/20px OpenSansRegular;
    list-style: none;
    color: #666666;
}

div.info-contact ul li a{
    color: #00a4dc;
}

div.soc-networks {
    position: absolute;
    top: 138px;
    right: 0;
    width: 220px;
}

div.soc-networks h5 {
    font: 18px PFBeauSansProRegular;
    color: #411671;
    padding: 0 0 5px;
}

div.soc-networks img {
    margin: 0 4px 0 0;
}


/*** Block FOOTER Style ***/
#footer {
    background: #411671;
    width: 100%;
    min-width: 940px;
    margin: 0 auto;
}

div.footer {
    width: 940px;
    height: 50px;
    margin: 0 auto;
}

div.footer p.copy {
    float: left;
    color: #FFFFFF;
    font: 13px/50px OpenSansRegular;
    color: #f3e9f3;
}

div.footer p.created {
    float: right;
    color: #FFFFFF;
    font: 13px/50px OpenSansRegular;
    color: #f3e9f3;
    text-align: right;
}


/*** CATALOG Style ***/
div.breadcrumbs {
    width: 100%;
    margin: -7px 0 15px;
}

div.breadcrumbs ul li {
    background: url("../images/icons/breadcrumbs.png") no-repeat scroll right 8px;
    font: 13px/20px OpenSansRegular;
    color: #666666;
    list-style: none;
    display: inline;
    padding: 0 8px 0 0;
    margin: 0 1px 0 0;
}

div.breadcrumbs ul li a {
    font: 13px/20px OpenSansRegular;
    color: #666666;
}

div.breadcrumbs ul li:last-child {
    background: none;
}

div.content h1 {
    font: 30px PFBeauSansProRegular;
    color: #411671;
    margin: 0;
}

div.content h2 {
    font: 18px/20px PFBeauSansProRegular;
    color: #666666;
    margin: 5px 0 0;
}

div.cat-descript {
    background: #f3e9f3;
    width: 100%;
    margin: 20px 0 0;
    padding: 8px 0 14px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

div.cat-descript img {
    float: left;
    margin: 0 0 0 10px;
}

div.cat-descript p {
    padding: 7px 14px 0 93px;
    font: 13px/20px PFBeauSansProRegular;
    color: #666666;
}

div.cat-filter {
    background: #f3e9f3;
    width: 100%;
    height: 30px;
    margin: 10px 0 20px;
    padding: 10px 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

div.show {
    float: left;
}

div.show span {
    font: 13px/30px OpenSansRegular;
    color: #333333;
    margin: 0 2px 0 10px;
}

div.show a {
    background: #ffffff;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.36);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.36);
    box-shadow: 0 1px 2px rgba(0,0,0,0.36);
    text-decoration: none;
    color: #333333;
    font: 15px PFBeauSansProRegular;
    padding: 5px 15px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    margin: 0 6px 0 0;
}
div.page .select,
div.show-pag .select,
div.show .select {
	background: #ffaddd !important;
}
div.show-pag {
    float: right;
    width: 230px;
}

div.show-pag span {
    font: 13px/30px OpenSansRegular;
    color: #333333;
    margin: 0 2px 0 10px;
}

div.show-pag a {
    background: #ffffff;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.36);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.36);
    box-shadow: 0 1px 2px rgba(0,0,0,0.36);
    text-decoration: none;
    color: #333333;
    font: 15px PFBeauSansProRegular;
    padding: 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    margin: 0 6px 0 0;
}

div.catalog {
    width: 100%;
}

div.cat {
    float: left;
    margin: 0 20px 20px 0;
}

div.cat p.old-price {
    color: #ed1380;
    font: 12px/20px OpenSansSemibold;
}

div.page {
    background: #f3e9f3;
    width: 100%;
    margin: 0 0 15px;
    padding: 10px 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
}

div.page ul {
    position: relative;
    float: left;
    left: 50%;
}

div.page ul li {
    list-style: none;
    position: relative;
    float: left;
    right: 50%;
}

div.page ul li a {
    background: #ffffff;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.36);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.36);
    box-shadow: 0 1px 2px rgba(0,0,0,0.36);
    text-decoration: none;
    color: #333333;
    font: 15px PFBeauSansProRegular;
    padding: 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    margin: 0 5px;
    width: 20px;
    display: block;
    text-align: center;
}


/*** PRODUCT Style ***/
div.product {
    width: 100%;
    margin: 10px 0 0;
    position: relative;
}

div.product a.print {
    position: absolute;
    top: 0;
    right: 0;
}

div.gallerybox {
    width: 340px;
    min-height: 500px;
    /*border-bottom: 1px solid #f3e9f3;*/
    float: left;
    margin: 7px 20px 15px 0;
}

#gallery-pager img {
    border: 2px solid #f3e9f3;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    margin: 10px 15.8px 0 0;
}

#gallery-pager a:last-child img {
    margin-right: 0;
}

p.videolink {
    margin: 25px 0 0;
}

p.videolink a {
    text-decoration: none;
    font: 13px PFBeauSansProBold;
    color: #333333;
    border-bottom: 1px dotted #333;
}

div.infobox {
    margin: 0;
    float: left;
    width: 340px;
}

div.infobox p.article {
    font: 15px SegoeUIBold;
    color: #333333;
}

div.infobox div.rating {
    font: 13px OpenSansRegular;
    color: #666666;
    margin: 10px 0 0;
}

div.infobox p.rating img {
    padding: 0 2px 0 0;
	position: relative;
	top: 3px;
}

div.infobox p.stock {
    font: 13px SegoeUIRegular;
    color: #666666;
    margin: 10px 0 0;
}

div.infobox p.stock span.yes {
    color: #3ab510;
}

div.infobox p.stock span.no {
    color: #ff0000;
}

div.infobox p.oldprice {
    font: 24px SegoeUIRegular;
    color: #ed1380;
    text-decoration: line-through;
    margin: 18px 24px 0 0;
    float: left;
}

div.infobox p.price {
    font: 30px SegoeUIRegular;
    color: #411671;
    margin: 12px 0 0;
}

div.infobox a.order {
    background: #ed1380;
    display: block;
    width: 170px;
    height: 40px;
    color: #FFFFFF;
    text-decoration: none;
    margin: 17px 0 0;
    font: 23px/40px PFBeauSansProSemiBold;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

div.infobox a.disabled,
div.item a.button_quantity_empty{
    background: #666666 !important;
    opacity: 0.8 !important;
}
div.infobox a.oneclick {
    display: block;
    width: 170px;
    height: 20px;
    color: #00a4dc;
    margin: 10px 0 0;
    font: 15px PFBeauSansProRegular;
    text-align: center;
}

div.specification {
    width: 100%;
    margin: 10px 0 0;
}

div.specification h5 {
    font: 24px OpenSansSemibold;
    color: #411671;
    margin: 0 0 6px;
}

div.spec-1 {
    width: 125px;
    float: left;
	font: 13px/20px OpenSansSemibold;
	color: #333333;
}

div.spec-2 {
    width: 170px;
    float: left;
    font: 13px/20px OpenSansRegular;
    color: #666666;
}

div.share {
    float: left;
    width: 80px;
    height: 20px;
    font: 13px/25px OpenSansRegular;
    color: #333333;
}

div.description {
    width: 100%;
    margin: 27px 0 0;
}

div.description h5 {
    font: 24px OpenSansSemibold;
    color: #411671;
    margin: 0 0 6px;
}

div.description {
    font: 13px/20px OpenSansRegular;
    color: #333333;
}

div.related {
    width: 100%;
    margin: 40px 0 0;
}

div.related h5 {
    font: 30px PFBeauSansProRegular;
    color: #411671;
}

div.relslide {
    width: 100%;
}

div.relitem {
    width: 196px;
    height: 226px;
    position: relative;
    border: 2px solid #f3e9f3;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    margin: 15px auto;
}

div.relitem:hover {
    -webkit-box-shadow: 0 1px 12px rgba(129,78,184,0.2);
    -moz-box-shadow: 0 1px 12px rgba(129,78,184,0.2);
    box-shadow: 0 1px 12px rgba(129,78,184,0.2);
}

div.relitem img {
    display: inline;
}

div.relitem a.relname {
    position: absolute;
    top: 114px;
    left: 0;
    display: block;
    text-align: center;
    font: 13px/20px OpenSansRegular;
    color: #00a4dc;
    padding: 0 10px;
}

div.relitem p.article {
    position: absolute;
    top: 176px;
    left: 0px;
    font: 12px/20px SegoeUIRegular;
    color: #666666;
    display: block;
    text-align: center;
    width: 100%;
}

div.relitem p.oldprice {
    position: absolute;
    top: 196px;
    left: 46px;
    font: 12px/20px OpenSansRegular;
    color: #ed1380;
    text-decoration: line-through;
}

div.relitem p.price {
    position: absolute;
    top: 194px;
    left: 95px;
    font: 16px/20px OpenSansSemibold;
    color: #411671;
}

div.see {
    width: 100%;
    margin: 23px 0 0;
}

div.see h5 {
    font: 30px PFBeauSansProRegular;
    color: #411671;
    margin: 0;
}

div.seeslide {
    width: 100%;
}

div.reviewbox {
    width: 100%;
    margin: 25px 0 0;
    position: relative;
}

div.reviewbox h5 {
    font: 24px OpenSansSemibold;
    color: #411671;
    margin: 0 0 11px;
}

div.reviewbox a.addreview {
    position: absolute;
    top: 12px;
    right: 0;
    font: 13px OpenSansRegular;
    color: #00a4dc;
    text-decoration: none;
    border-bottom: 1px dotted #411671;
}

div.review {
    width: 100%;
    padding: 0 0 5px;
    margin: 0 0 15px;
    border-bottom: 1px solid #f3e9f3;
    position: relative;
}

div.review:last-child {
    border: none;
}

div.review img.rating {
    position: absolute;
    top: 0;
    left: 0;
}

div.review p.name {
    position: absolute;
    top: 27px;
    left: 0;
    font: 13px OpenSansSemibold;
    color: #333333;
}

div.review p.date {
    position: absolute;
    top: 50px;
    left: 0;
    font: 11px OpenSansRegular;
    color: #747474;
}

div.review p.txt {
    padding: 0 0 0 160px;
    font: 13px/20px OpenSansRegular;
    color: #333333;
    margin: 0 0 10px;
}

div.review p.txt span {
    font: 13px OpenSansSemibold;
}


/*** BASKET Style ***/
div.basket {
    width: 940px;
    margin: 22px auto;
}

div.basket table {
    width: 100%;
    border-bottom: 1px solid #f3e9f3;
}

div.basket table tr:first-child {
    padding-top: 10px;
}

div.basket table th {
    border-top: 1px solid #f3e9f3;
    border-bottom: 1px solid #f3e9f3;
    font: 15px SegoeUIBold;
    color: #333333;
    height: 30px;
    vertical-align: middle;
}

div.basket table th:first-child {
    text-align: left;
    width: 417px;
}

div.basket table th.col {
    width: 200px;
}

div.basket table td {
    text-align: center;
    vertical-align: middle;
    padding: 10px 0;
    font: 13px SegoeUIRegular;
    color: #333333;
}

div.basket table td:first-child {
    text-align: left;
}

div.basket table td:last-child {
    text-align: right;
}


div.basket table img.basketimg {
    float: left;
    margin: 0 20px 0 0;
    border: 2px solid #f4eaf4;
}

div.basket table a.name {
    padding: 25px 0 0;
    font: 13px/20px OpenSansRegular;
    color: #00a4dc;
    display: block;
}

div.basket table select {
    background: #f8f8f8;
    width: 80px;    
    font: 13px OpenSansRegular;
    color: #333333;
    padding: 10px 20px;
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.36);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.36);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.36);
}

div.basket a.update {
    display: block;
    float: left;
    /*margin-top: 7px;*/
}

div.basket table a.update img {
    transition:all 0.4s ease-out 0s;
}

div.basket table a.update img:active {
    transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
}

form.update {
    display: block;
    float: left;
    margin: 0 10px 0 50px;
}

div.delivery {
    width: 460px;
    margin: 15px 0 0;
    padding: 0 0 5px;
    float: right;
    border-bottom: 1px solid #f3e9f3;
    text-align: right;
}

div.delivery p.totaltxt {
    font: 13px/20px OpenSansRegular;
    color: #333333;
    float: right;
}

div.delivery p.totalsum {
    font: 13px/20px OpenSansSemibold;
    color: #333333;
    float: right;
    margin: 0 0 0 30px;
    width: 70px;
}

div.delivery form {
    margin: 10px 0;
}

div.delivery select {
    background: #f8f8f8;
    width: 280px;    
    font: 13px OpenSansRegular;
    color: #333333;
    padding: 10px;
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.36);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.36);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.36);
}

div.delivery p.deliverysum {
    font: 13px/40px OpenSansSemibold;
    color: #333333;
    float: right;
    margin: 0 0 0 30px;
    width: 70px;
}

div.total {
    float: right;
    margin: 10px 0;
    text-align: right;
}

div.total p.sum {
    float: right;
    font: 24px PFBeauSansProRegular;
    color: #411671;
    width: 100px;
}

div.total p.txt {
    float: right;
    font: 18px OpenSansRegular;
    color: #333333;
}

div.basket a.button {
    background: #ed1380;
    width: 220px;
    height: 40px;
    font: 23px/40px PFBeauSansProSemiBold;
    color: #FFFFFF;
    display: block;
    text-align: center;
    text-decoration: none;
    float: right;
    margin: 20px 0 70px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

/*** TEXT Style ***/
div.whybox {
    width: 100%;
    margin: 20px 0 40px;
}

div.why {
    width: 215px;
    margin: 20px 9px;
    float: left;
    text-align: center;
	height: 272px;
}

div.why p.title {
    font: 17px PFBeauSansProSemiBold;
    color: #50297a;
    padding: 10px 0 12px;
}

div.why p.txt {
    font: 13px/20px OpenSansRegular;
    color: #333333;
}

div.whyleft {
    margin-left: 130px;
}

div.contacts {
    width: 100%;
    margin: 70px 0 20px;
}

div.contacts h3 {
    color: #411671;
    font: 30px PFBeauSansProRegular;
    padding: 0 0 7px;
}

div.contacts p {
    color: #333333;
    font: 13px/20px OpenSansRegular;
}

div.cnumber {
    background: url(../images/icons/icon-callback.png) no-repeat;
    width: 200px;
    padding: 0 0 0 30px;
    float: left;
    margin: 30px 0 0;
}

div.cnumber p {
    font: 14px/20px PFBeauSansProSemiBold;
    color: #333333;
}

div.cnumber a {
    font: 13px/20px OpenSansRegular;
    color: #00a4dc;
}

div.cmail {
    background: url(../images/icons/icon-mail.png) no-repeat;
    width: 200px;
    padding: 0 0 0 30px;
    float: left;
    margin: 30px 0 0;
}

div.cmail p {
    font: 14px/20px PFBeauSansProSemiBold;
    color: #333333;
}

div.cmail a {
    font: 13px/20px OpenSansRegular;
    color: #00a4dc;
}

div.csocial {
    background: url(../images/icons/icon-social.png) no-repeat;
    width: 200px;
    padding: 0 0 0 30px;
    float: left;
    margin: 30px 0 0;
}

div.csocial a {
    font: 14px/20px PFBeauSansProSemiBold;
    color: #333333;
    text-decoration: none;
}

div.map {
    width: 100%;
    height: 350px;
    margin: 30px 0 0;
}


/*** MODAL Style ***/

form.addreview {
    width: 740px;
}

form.addreview span, form.callback span, form.question span {
    font: 13px OpenSansSemibold;
    color: #333333;
}

div.mvalue {
    float: left;
    margin: 0 20px 0 0;
}

div.mvalue textarea {
    width: 340px;
    height: 90px;
}

div.mlimitations {
    float: left;
}

div.mlimitations textarea {
    width: 340px;
    height: 90px;
}

div.mvalue2 {
    float: left;
    margin: 10px 0 0;
}

div.mvalue2 textarea {
    width: 720px;
    height: 90px;
    margin: 5px 0 15px;
}

form.addreview p.rating {
    font: 13px OpenSansSemibold;
    color: #333333;
}

form.addreview div.input {
    margin: 10px 0;
}

form.addreview input {
    width: 280px;
    height: 40px;
}

form.addreview button {
    background: #ed1380;
    border: none;
    color: #FFFFFF;
    font: 15px PFBeauSansProBold;
    width: 150px;
    height: 30px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

#gallery-pager2 img {
  border: 2px solid #f3e9f3;
  border-radius: 3px;
}

div.popgallery {
    width: 780px;
}


form.callback {
    width: 300px;
}


form.callback div.input {
    margin: 10px 0;
}

form.callback input {
    width: 280px;
    height: 40px;
}

form.callback button {
    background: #ed1380;
    border: none;
    color: #FFFFFF;
    font: 15px PFBeauSansProBold;
    width: 150px;
    height: 30px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

form.question {
    width: 300px;
}


form.question div.input {
    margin: 10px 0;
}

form.question input {
    width: 280px;
    height: 40px;
}

div.mquestion textarea {
    width: 280px;
    height: 110px;
    margin: 5px 0 15px;
}

form.question button {
    background: #ed1380;
    border: none;
    color: #FFFFFF;
    font: 15px PFBeauSansProBold;
    width: 150px;
    height: 30px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}
.wr-hidden input {
	font-size: 15px !important;
}

.success, .warning, .attention, .information {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	color: #555555;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	font-size: 12px;
}
.success {
	background: #EAF7D9 url('../images/success.png') 10px center no-repeat;
	border: 1px solid #BBDF8D;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.warning {
	background: #FFD1D1 url('../images/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}



/*** System Style ***/
span.rub {
    font-family: ALSRublRegular;
}

div.last {
    margin: 0;
}

.transition  {
    transition: background 0.6s ease;
    -o-transition-property: background;
    -o-transition-duration: 0.6s;
    -o-transition-timing-function: ease;
    -webkit-transition-property: background;
    -webkit-transition-duration: 0.6s;
    -webkit-transition-timing-function: ease;
}

div.clear {
    clear: both;
}

div.separator {
    width: 940px;
    margin: 35px auto 0;
    border-top: 1px solid #f3e9f3;
}

#checkout input, #checkout textarea{
    width: 680px !important;
}
.red_s{
    color: #ff0000 !important;
}

div.item p.one_price{
    left: 30px !important;
}
div.relitem p.one_price{
    left: 70px !important;
}


.modal_window{
	background-color: #ffffff;
	position: relative;
	margin: 40px auto 0px;
	border: 1px solid rgba(243, 124, 170, 0.25);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 20px;
	z-index: 102;
	display: none;
	box-shadow: 0 2px 2px #dddddd;
	font-weight: normal;
	width: 530px;
	height: 100%;
}
.modal_window .block_title{
	font-size: 16px !important;
}

.modal_window .block_text{
	margin-bottom: 10px;
}
#colorbox1_container{
	padding: 2px;
	border: 1px solid #f1f1e3;
	width: 500px;
	height: 500px;
	margin-left: 13px;
}

.colorbox_image_block{
	margin: 5px 0;
}
.popup_window{
	display: none;
	height: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	overflow: scroll;

}
.popup_window > .overlay {
	background-color: rgba(0, 0, 0, 0.7);
	height: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}
.modal_window .review_add_close{
	background: url("../images/modal/cross.png") no-repeat scroll left top rgba(0, 0, 0, 0);
	cursor: pointer;
	height: 9px;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 9px;
}

#colorbox1 .arrow_left_img,
#colorbox1 .arrow_right_img{
	position: absolute;
	top: 80px;
	cursor: pointer;
}
#colorbox1 .arrow_left_img,
#colorbox1 .arrow_right_img{
	top: 380px;
}
#colorbox1 .arrow_left_img{
	background: url("../images/prev-arrow.png") no-repeat scroll 0 0 #ffffff;
	width: 12px;
	height: 46px;
	left: 0;
}
#colorbox1 .arrow_left_img{
	left: 8px;
}
#colorbox1 .arrow_left_img:hover{
	background: url("../images/prev-arrow-hover.png") no-repeat scroll 0 0 #ffffff;
}
#colorbox1 .arrow_right_img{
	background: url("../images/next-arrow.png") no-repeat scroll 0 0 #ffffff;
	width: 12px;
	height: 46px;
	right: 0;
}
#colorbox1 .arrow_right_img{
	right: 8px;
}
#colorbox1 .arrow_right_img:hover{
	background: url("../images/next-arrow-hover.png") no-repeat scroll 0 0 #ffffff;
}

.starts_block{
	margin: 10px 0;
	float: none;
	clear: both;
	height: 20px;
}

.star_non, .star_yes{
	width: 18px;
	height: 18px;
	cursor: pointer;
	float: left;
	margin-right: 5px;
}
.star_non{
	background: url("../images/star_non.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.star_yes{
	background: url("../images/star_yes.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}

.star_0{
	background: url("../images/star_s0.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.star_1{
	background: url("../images/star_s1.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.star_2{
	background: url("../images/star_s2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.star_3{
	background: url("../images/star_s3.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.star_4{
	background: url("../images/star_s4.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.star_5{
	background: url("../images/star_s5.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.hidden{
	display: none;
}

.stars{
	background: url("../images/star_f.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
	width: 90px;
	position: relative;
	height: 18px;
}
.rating a{
	color: #00a4dc !important;
}
.review .stars{
	position: absolute;
}
.stars-1{
	position: relative;
	height: 18px;
	width: 18px;
	background: url("../images/star_y.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.stars-2{
	position: relative;
	height: 18px;
	width: 36px;
	background: url("../images/star_y.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
}
.stars-3{
	position: relative;
	height: 18px;
	width: 54px;
	background: url("../images/star_y.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
}
.stars-4{
	position: relative;
	height: 18px;
	width: 72px;
	background: url("../images/star_y.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
}
.stars-5{
	position: relative;
	height: 18px;
	width: 90px;
	background: url("../images/star_y.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
}
