{% extends "helper/base.twig" %}

{% block header %}

{% endblock %}

{% block body %}
	<form class="form-horizontal form-login" role="form" action="" method="post">
		{% if error %}
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label">&nbsp;</label>
				<div class="col-sm-4">
					<div role="alert" class="alert alert-danger">
						{{ error }}
					</div>
				</div>
			</div>
		{% endif %}

		<div class="form-group">
			<label for="inputEmail3" class="col-sm-2 control-label">Login</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="inputEmail3" name="login" value="{{ login }}" placeholder="Login">
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword3" class="col-sm-2 control-label">Password</label>
			<div class="col-sm-4">
				<input type="password" class="form-control" id="inputPassword3" name="pass" placeholder="Password">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-4">
				<button type="submit" class="btn btn-default">Sign in</button>
			</div>
		</div>
	</form>
{% endblock %}

