{% extends "helper/base.twig" %}

{% block body %}
	{% if errors %}
		{% for e in errors %}
			<div class="alert alert-danger" role="alert">{{ e }}</div>
		{% endfor %}
	{% endif %}
	<form class="form-horizontal" role="form" method="post" action="">
		<div style="float: right;">
			<button type="submit" class="btn btn-default">Сохранить</button>
		</div>
		<ul role="tablist" class="nav nav-tabs" id="myTab" xmlns="http://www.w3.org/1999/html">
			<li class="active">
				<a data-toggle="tab" role="tab" href="#common">Общие</a>
			</li>
		</ul>
		<br/>
		<div class="tab-content" id="myTabContent">
			<div id="common" class="tab-pane fade active in">
				<div class="form-group">
					<label for="title" class="col-sm-2 control-label">Название:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="title" name="title" value="{{ template.title }}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="alias" class="col-sm-2 control-label">Алиас:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="alias" name="alias" value="{{ template.alias }}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="subject" class="col-sm-2 control-label">Тема письма:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="subject" name="subject" value="{{ template.subject }}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="text" class="col-sm-2 control-label">Текст:</label>
					<div class="col-sm-10">
						<textarea class="form-control" cols="80" id="text" rows="10" name="message" >{{ template.message }}</textarea>
					</div>
				</div>
				<div class="form-group">
					<label for="description" class="col-sm-2 control-label">Описание:</label>
					<div class="col-sm-10">
						<p>
							<b>Заказ</b>
							<div class="var">{{ '{{' }} o_number {{ '}}' }}:</div><div class="value">Номер</div>
							<div class="var">{{ '{{' }} o_date {{ '}}' }}:</div><div class="value">Дата</div>
							<div class="var">{{ '{{' }} o_fio {{ '}}' }}:</div><div class="value">Имя пользователя</div>
							<div class="var">{{ '{{' }} o_telephone {{ '}}' }}:</div><div class="value">Телефон</div>
							<div class="var">{{ '{{' }} o_email {{ '}}' }}:</div><div class="value">Эл. ящик</div>
							<div class="var">{{ '{{' }} o_address {{ '}}' }}:</div><div class="value">Адрес</div>
							<div class="var">{{ '{{' }} o_shipping {{ '}}' }}:</div><div class="value">Доставка</div>
							<div class="var">{{ '{{' }} o_comment {{ '}}' }}:</div><div class="value">Комментарий</div>
							<div class="var">{{ '{{' }} o_total {{ '}}' }}:</div><div class="value">Стоимость без учета доставки</div>
							<div class="var">{{ '{{' }} o_total_full {{ '}}' }}:</div><div class="value">Стоимость c учетом доставки</div>
						</p>
						<p>
							<b>Продукт</b>
							<div class="var">{{ '{{' }} p_title {{ '}}' }}:</div><div class="value">Название</div>
							<div class="var">{{ '{{' }} p_code {{ '}}' }}:</div><div class="value">Код</div>
							<div class="var">{{ '{{' }} p_article {{ '}}' }}:</div><div class="value">Артикл</div>
							<div class="var">{{ '{{' }} p_price {{ '}}' }}:</div><div class="value">Цена</div>
							<div class="var">{{ '{{' }} p_quantity {{ '}}' }}:</div><div class="value">Количество</div>
						</p>
						<p>
							<b>Цикл</b>
							<div class="var">{{ '{%' }} for p in products {{ '%}' }}:</div><div class="value">Цикл по продуктам</div>
							<div class="var">{{ '{%' }} endfor {{ '%}' }}:</div><div class="value">Окончание цикла по продуктам</div>
							
							<div class="var">{{ '{{' }} p.title {{ '}}' }}:</div><div class="value">Название в цикле</div>
							<div class="var">{{ '{{' }} p.code {{ '}}' }}:</div><div class="value">Код в цикле</div>
							<div class="var">{{ '{{' }} p.article {{ '}}' }}:</div><div class="value">Артикл в цикле</div>
							<div class="var">{{ '{{' }} p.price {{ '}}' }}:</div><div class="value">Цена в цикле</div>
							<div class="var">{{ '{{' }} p.quantity {{ '}}' }}:</div><div class="value">Количество в цикле</div>

						</p>
					</div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}