{% extends "helper/base.twig" %}

{% block body %}
	<div>
		<a href="{{ create }}" style="float:right;"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Добавить</button></a>
		<h2>Баннеры</h2>
	</div>
	<table class="table table-striped">
		<tr>
			<th>Картинка</th>
			<th>Название</th>
			<th>Тип</th>
			<th>Ссылка</th>
			<th class="text-center">Действие</th>
		</tr>
		{% for b in banners %}
			<tr>
				<td>{% if b.image %}<img src="{{ b.image }}" width="200" />{% endif %} </td>
				<td>{{ b.title }}</td>
				<td>{{ b.type }}</td>
				<td>{{ b.url }}</td>
				<td class="text-center">
					<a href="{{ b.url_edit }}"><span class="glyphicon glyphicon-pencil"></span></a>
					<a href="{{ b.url_del }}"><span class="glyphicon glyphicon-remove"></span></a>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}