{% extends "helper/base.twig" %}

{% block js %}
	<script src="/js/upload.js"></script>
{% endblock %}

{% block body %}

	<form role="form" action="" method="post">
		<div class="form-group">
			<label for="title">Название</label>
			<input type="text" class="form-control" id="title" name="title" placeholder="Название" value="{{ banner.title }}" />
		</div>
		<div class="form-group">
			<label for="url">Ссылка</label>
			<input type="text" class="form-control" id="url" name="url" placeholder="Ссылка" value="{{ banner.url }}" />
		</div>
		<div  class="form-group">
			<label for="type">Тип</label>
			<select name="type" id="type" class="form-control">
				{% for k, t in type_titles %}
					<option value="{{ k }}" {% if k == banner.type %} selected="selected" {% endif %}>{{ t }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="form-group">
			<label for="submit"></label>
			<button type="submit" class="btn btn-default">Сохранить</button>
		</div>
		<div class="form-group">
			<div id="image_container">
				{% if banner.image.hash %}
					<img alt="140x140" class="img-thumbnail" src="{{ banner.image.hash }}" />
					<input type="hidden" name="image_id" value="{{ banner.image.id }}" />
					<div class="clear_image" value="{{ banner.image.id }}">[x]</div>
				{% else %}
					<input type="file" accept="image/jpeg,image/png,image/gif" id="image_id" name="image" />
				{% endif %}
			</div>
		</div>
	</form>
	<script>
		var parent = 'banners';
		var get_cache = '';
		var http_image = '{{ HTTP_IMAGE_BASE }}';
		var parent_id = {% if banner.id %}{{ banner.id }}{% else %}0{% endif %};
	</script>

{% endblock %}