{% extends "helper/base.twig" %}

{% block body %}
	<div>
		<h2>Логи</h2>
	</div>
	<table class="table table-striped">
		<tr>
			<th>Название</th>
			<th class="text-center">Скрипт</th>
			<th class="text-center">Дата выпонения</th>
			<th class="text-center">Действие</th>
		</tr>
		{% for l in logs %}
			<tr>
				<td>{{ l.title }}</td>
				<td class="text-center">{{ l.cron }}</td>
				<td class="text-center">{{ l.create_time|date('d.m.Y H:i:s') }}</td>
				<td class="text-center">
					<a href="{{ l.url_view }}"><span class="glyphicon glyphicon-pencil"></span></a>
					<a href="{{ l.url_del }}"><span class="glyphicon glyphicon-remove"></span></a>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}