{% extends "helper/base.twig" %}

{% block body %}
	<style>
		.alert {
			border-radius: 0;
			margin-bottom: 0;
			padding: 0;
		}
		code{
			background: none !important;
		}
	</style>

	<div>
		<h3>Лог "{{ log.title }}" от {{ log.create_time|date('d.m.Y H:s:i') }}</h3>
	</div>
	<div>
		{{ log.log|raw }}
	</div>

{% endblock %}