{% extends "helper/base.twig" %}

{% block js %}
	<script src="/js/filters.js"></script>
{% endblock %}

{% block body %}
	<div>
		<a href="{{ create }}" style="float:right;">
			<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Добавить</button>
		</a>
		<h2>Продукты</h2>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th class="width10">Картинка</th>
				<th class="width30">Название</th>
				<th class="width20">Категории</th>
				<th class="width10">Цена (Спец цена)</th>
				<th class="width10">Артикл</th>
				<th class="width10">Код</th>
				<th class="text-center width10">Действие</th>
			</tr>
			<tr>
				<td></td>
				<td><input type="text" id="title" class='filter small' value="" placeholder="Название"></td>
				<td>
					<select id="category" class="filter small" name="category">
						<option value=""></option>
						{% for c in categories %}
							<option value="{{ c.id }}" style="padding-left: {{ c.lvl }}em;">{{ c.title }}</option>
						{% endfor %}
					</select>
				</td>
				<td class="text-center">
					<input type="text" class='filter small' id="price" name="price" value="" placeholder="Цена">
				</td>
				<td class="text-center">
					<input type="text" class='filter small' id="article" name="article" value="" placeholder="Артикл">
				</td>
				<td class="text-center">
					<input type="text" class='filter small' id="code" name="code" value="" placeholder="Код">
				</td>
				<td class="text-center">
					<button type="button" id='clear_filter' style="padding: 3px 6px !important;" class="btn btn-default small">Очистить</button>
				</td>
			</tr>
		</thead>
		<tbody id="container"></tbody>
	</table>
	<nav id="nav"></nav>

	<script>
		var timerID;
		var sort = '';
		var page = 1;
		var url = '/product/list/ajax/';

		$(function() {
			filter();
		});
	</script>

{% endblock %}
