{% for p in products %}
	<tr>
		<td>{% if p.hash %}<img src="{{ p.hash }}" />{% else %}{{ p.hash }}{% endif %}</td>
		<td>{{ p.title }}</td>
		<td>
			{% for c in p.categories %}
				{{ c }}<br/>
			{% endfor %}
		</td>
		<td>{{ p.price }} {% if p.special_price %}({{ p.special_price }}){% endif %}</td>
		<td>{{ p.article }}</td>
		<td>{{ p.code }}</td>
		<td class="text-center">
			<a href="{{ p.url_edit }}"><span class="glyphicon glyphicon-pencil"></span></a>
			<a href="{{ p.url_del }}"><span class="glyphicon glyphicon-remove"></span></a>
		</td>
	</tr>
{% endfor %}
