{% extends "helper/base.twig" %}

{% block js %}
	<script src="/js/ckeditor/ckeditor.js"></script>
	<script src="/js/upload.js"></script>
	<script src="/js/common.js"></script>
{% endblock %}

{% block body %}
	<style>
		#image_container img {
			width: 100px;
		}
	</style>
	{% if errors %}
		{% for e in errors %}
			<div class="alert alert-danger" role="alert">{{ e }}</div>
		{% endfor %}
	{% endif %}
	<form class="form-horizontal" role="form" method="post" action="" id="form_save">
		<div style="float: right;">
			<button type="submit" class="btn btn-default" id="button_save">Сохранить</button>
		</div>
		<ul role="tablist" class="nav nav-tabs" id="myTab" xmlns="http://www.w3.org/1999/html">
			<li class="active">
				<a data-toggle="tab" role="tab" href="#common">Общие</a>
			</li>
			<li>
				<a data-toggle="tab" role="tab" href="#data">Данные</a>
			</li>
			{% if product.id %}
			<li>
				<a data-toggle="tab" role="tab" href="#image">Картинки</a>
			</li>
			{% endif %}
			<li>
				<a data-toggle="tab" role="tab" href="#attribute">Аттрибуты</a>
			</li>
		</ul>
		<br/>
		<div class="tab-content" id="myTabContent">
			<div id="common" class="tab-pane fade active in">
				<div class="form-group">
					<label for="title" class="col-sm-2 control-label">Название:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="title" name="title" value="{{ product.title }}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="seo_title" class="col-sm-2 control-label">HTML-тег Title:</label>

					<div class="col-sm-6">
						<input type="text" class="form-control" id="seo_title" name="seo_title" value="{{ product.seo_title }}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="seo_h1" class="col-sm-2 control-label">HTML-тег H1:</label>

					<div class="col-sm-6">
						<input type="text" class="form-control" id="seo_h1" name="seo_h1" value="{{ product.seo_h1 }}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="meta_keyword" class="col-sm-2 control-label">Мета-тег Keywords:</label>

					<div class="col-sm-6">
						<input type="text" class="form-control" id="meta_keyword" name="meta_keyword" value="{{ product.meta_keyword }}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="meta_description" class="col-sm-2 control-label">Мета-тег Description:</label>

					<div class="col-sm-6">
						<input type="text" class="form-control" id="meta_description" name="meta_description" value="{{ product.meta_description }}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="description" class="col-sm-2 control-label">Описание:</label>
					<div class="col-sm-10">
						<textarea class="ckeditor" cols="80" id="editor1" rows="10" name="description" tabindex="1">{{ product.description }}</textarea>
					</div>
				</div>
			</div>

			<div id="data" class="tab-pane fade">
				<div class="form-group">
					<label for="article" class="col-sm-2 control-label">Артикл:</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="article" name="article" value="{{ product.article }}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="code" class="col-sm-2 control-label">Код:</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="code" name="code" value="{{ product.code }}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="quantity" class="col-sm-2 control-label">Количество:</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="quantity" name="quantity" value="{{ product.quantity }}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="video" class="col-sm-2 control-label">Видео:</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="video" name="video" value="{{ product.video }}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="price" class="col-sm-2 control-label">Цена:</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="price" name="price" value="{{ product.price }}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="special_price" class="col-sm-2 control-label">Спец цена:</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="special_price" name="special_price" value="{{ product.special_price }}"/>
					</div>
				</div>

				<div class="form-group">
					<label for="url" class="col-sm-2 control-label">Категории:</label>
					<div class="col-sm-3">
						<select id="all_categories" class="form-control" multiple size="5">
							{% for c in categories %}
								{% if c.selected == '' %}
									<option value="{{ c.id }}" style="padding-left: {{ c.lvl }}em">{{ c.title }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
					<div class="col-sm-1" style="text-align: center">
						<button class="btn btn-default" type="submit" id="add_cat"> > </button>
						<button class="btn btn-default" type="submit" id="del_cat"> < </button>
					</div>
					<div class="col-sm-3">
						<select id="prod_categories" name="categories[]" class="form-control " multiple size="5">
							{% for c in categories %}
								{% if c.selected %}
									<option value="{{ c.id }}" style="padding-left: {{ c.lvl }}em">{{ c.title }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label">Изображение:</label>
					<div class="col-sm-7">
						<div id="image_container">
							{% if product.image.hash %}
								<img class="img-thumbnail" src="{{ product.image.hash }}" />
								<input type="hidden" name="image_id" value="{{ product.image.id }}" />
								<div class="clear_image" value="{{ product.image.id }}">[x]</div>
							{% else %}
								<input type="file" id="image_id" name="image"/>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<div class="checkbox">
							<label>
								<input type="checkbox" name="is_publish" value="1" {% if product.is_publish %} checked="checked"{% endif %}> Публиковать
							</label>
						</div>
					</div>
				</div>
			</div>
			<div id="image" class="tab-pane fade">
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label"><input type="file" id="product_images" name="image"/></label>
				</div>


				<div class="row" id="product_images_list">
					{% for i in images %}
						{% if i.id != product.image.id %}
							<div class="col-xs-6 col-md-2" id="images_{{ i.id }}">
								<span class="glyphicon glyphicon-remove product_images_remove" value="{{ i.id }}"></span>
								<a href="#" class="thumbnail"><img src="{{ i.hash }}"/></a>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
			<div id="attribute" class="tab-pane fade">
				{% for a in attributes %}
					<div class="form-group">
						<label for="description" class="col-sm-2 control-label">{{ a.title }}:</label>
						<div class="col-sm-5">
							<textarea cols="20" rows="5" class="form-control" name="attribute_value_{{ a.id }}" >{{ a.value }}</textarea>
							<input type="hidden" name="attribute_ids[]" value="attribute_value_{{ a.id }}" />
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</form>


	<script>
		var parent = 'product';
		var parent_id = {% if product.id %}{{ product.id }}{% else %}0{% endif %};
		var http_image = '{{ http_image }}';
		var http_image_200x200 = '{{ http_image_200x200 }}';
		var get_cache = '100x100';

		$('#myTab a[href="#attribute"]').tab('show');
		$('#myTab a[href="#image"]').tab('show');
		$('#myTab a[href="#data"]').tab('show');
		$('#myTab a[href="#common"]').tab('show');

	</script>
{% endblock %}