{% extends "helper/base.twig" %}

{% block body %}
	<div>
		<h2>Отзывы</h2>
	</div>
	<table class="table table-striped">
		<tr>
			<th>Продукт</th>
			<th>Автор</th>
			<th class="text-center">Рейтинг</th>
			<th>Статус</th>
			<th>Добавлено</th>
			<th class="text-center">Действие</th>
		</tr>
		{% for r in reviews %}
			<tr>
				<td>{{ r.product }}</td>
				<td>{{ r.author }}</td>
				<td class="text-center">{{ r.rating }}</td>
				<td>{% if r.is_publish %}включено{% else %}отключено{% endif %}</td>
				<td>{{ r.create_time|date("d.m.Y")  }}</td>
				<td class="text-center">
					<a href="{{ r.url_edit }}"><span class="glyphicon glyphicon-pencil"></span></a>
					<a href="{{ r.url_del }}"><span class="glyphicon glyphicon-remove"></span></a>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}