{% extends "helper/base.twig" %}

{% block js %}
	<script src="/js/ckeditor/ckeditor.js"></script>
{% endblock %}

{% block body %}

	<form role="form" action="" method="post">
		<div class="form-group">
			<label for="author">Автор</label>
			<input type="text" class="form-control" id="author" name="author" value="{{ review.author }}">
		</div>
		<div class="form-group">
			<label for="text">Текст отзыва</label><br/>
			<textarea name="text" class="ckeditor form-control" rows="5">{{ review.text }}</textarea>
		</div>
		<div class="form-group">
			<label for="rating">Оценка - {{ review.rating }}</label>
		</div>
		<div class="form-group">
			<input type="checkbox"  name="is_publish" value="1" {% if review.is_publish %} checked="checked"{% endif %}> Публиковать
		</div>
		<button type="submit" class="btn btn-default">Сохранить</button>
	</form>

{% endblock %}