{% for o in orders %}
	<tr>
		<td class="text-center">{{ o.id }}</td>
		<td>{{ o.fio }}</td>
		<td class="text-center">{{ o.status }}</td>
		<td class="text-center">{{ o.total }}</td>
		<td class="text-center">{{ o.create_time|date('d.m.Y') }}</td>
		<td class="text-center">{{ o.update_time|date('d.m.Y') }}</td>
		<td class="text-center">
			<a href="{{ o.url_edit }}"><span class="glyphicon glyphicon-pencil"></span></a>
			<a href="{{ o.url_del }}"><span class="glyphicon glyphicon-remove"></span></a>
		</td>
	</tr>
{% endfor %}
