{% extends "helper/base.twig" %}
{% block js %}
	<script src="/js/filters.js"></script>
{% endblock %}

{% block body %}
	<div>
		<h2>Заказы</h2>
	</div>
	<table class="table table-striped">
		<thead>
		<tr>
			<th class="text-center width10">Номер заказа</th>
			<th class="width20">Имя покупателя</th>
			<th class="text-center width20">Статус</th>
			<th class="text-center width10">Итого</th>
			<th class="text-center width10">Дата доб.</th>
			<th class="text-center width10">Дата изм.</th>
			<th class="text-center width10">Действие</th>
		</tr>
		<tr>
			<td class="text-center"><input type="text" id="id" class='filter small' value="" placeholder="Номер заказа"></td>
			<td><input type="text" id="fio" class='filter small' value="" placeholder="Имя покупателя"></td>
			<td class="text-center">
				&nbsp;
			</td>
			<td class="text-center">
				<input type="text" class='filter small' id="price" name="price" value="" placeholder="Цена">
			</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td class="text-center">
				<button type="button" id='clear_filter' style="padding: 3px 6px !important;" class="btn btn-default small">Очистить</button>
			</td>
		</tr>

		</thead>
		<tbody id="container">

		</tbody>
	</table>
	<nav id="nav">
	</nav>

	<script>
		var timerID;
		var sort = '';
		var page = 0;
		var url = '/order/list/ajax/';

		$(function(){
			filter();
			$('input.filter').keypress(function(){
				clearTimeout(timerID);
				timerID=setTimeout('filter()',500);
			});
			$('select.filter').change(function(){
				clearTimeout(timerID);
				timerID=setTimeout('filter()',500);
			});
		});
	</script>

{% endblock %}
