{% if pages > 1 %}
	<ul class="pagination pagination-sm">
		{% for p in 1..pages %}
			<li {% if page == loop.index %} class="active" {% endif %}>
				<a href="#" id="page{{ loop.index }}" page="{{ loop.index }}">{{ loop.index }}</a>
			</li>
		{% endfor %}
	</ul>
	<script>
		$(function(){
			$('.pagination a').click(function () {
				page = $(this).attr('page');
				clearTimeout(timerID);
				timerID = setTimeout('filter()', 500);
				return false;
			});
		});
	</script>
{% endif %}