{% extends "helper/base.twig" %}
{% block js %}
	<script src="/js/common.js"></script>
{% endblock %}

{% block body %}
	{% if errors %}
		{% for e in errors %}
			<div class="alert alert-danger" role="alert">{{ e }}</div>
		{% endfor %}
	{% endif %}
	<form class="form-horizontal" role="form" method="post" action="" enctype="multipart/form-data">
		<div style="float: right;">
			<button type="submit" class="btn btn-default">Сохранить</button>
		</div>
		<ul role="tablist" class="nav nav-tabs" id="myTab" xmlns="http://www.w3.org/1999/html">
			<li class="active">
				<a data-toggle="tab" role="tab" href="#common">Общие</a>
			</li>
			<li>
				<a data-toggle="tab" role="tab" href="#product">Продукты</a>
			</li>
			{% if order.id %}
				<li>
					<a data-toggle="tab" role="tab" href="#status">История</a>
				</li>
			{% endif %}
		</ul>
		<br/>
		<div class="tab-content" id="myTabContent">
			<div id="common" class="tab-pane fade active in">
				<div class="form-group">
					<label for="fio" class="col-sm-2 control-label">ФИО:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="fio" name="fio" value="{{ order.fio }}"/>
						<input type="hidden" class="form-control" id="order_id" name="order_id" value="{{ order.id }}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="telephone" class="col-sm-2 control-label">Телефон:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="telephone" name="telephone" value="{{ order.telephone }}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="email" class="col-sm-2 control-label">Эл почта:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="email" name="email" value="{{ order.email }}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="address" class="col-sm-2 control-label">Адрес:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="address" name="address" value="{{ order.address }}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="comment" class="col-sm-2 control-label">Комментарий:</label>
					<div class="col-sm-6">
						<textarea class="form-control" rows="5" name="comment">{{ order.comment }}</textarea>
					</div>
				</div>
			</div>
			<div id="product" class="tab-pane fade">
				<table class="table table-striped">
					<thead>
					<tr>
						<th class="width20">Название</th>
						<th class="text-center width10">Артикл</th>
						<th class="text-center width10">Код</th>
						<th class="text-center width10">Количество</th>
						<th class="text-center width10">Цена</th>
						<th class="text-center width10">Всего</th>
					</tr>
					</thead>
					<tbody id="order_products">
						{% for p in order.products %}
							<tr>
								<td>{{ p.title }}</td>
								<td class="text-center">{{ p.article }}</td>
								<td class="text-center">{{ p.code }}</td>
								<td class="text-center">{{ p.quantity }}</td>
								<td class="text-center">{{ p.price }}</td>
								<td class="text-center">{{ p.total }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
					{#<div class="form-group">#}
						{#<label for="product_id" class="col-sm-2 control-label">Продукт:</label>#}
						{#<div class="col-sm-6">#}
							{#<input type="text" class="form-control" id="product_title" name="product_title" data-provide="typeahead" data-items="4" data-source='[{% for p in products %}"{{ p.title }}"{% if loop.last %}{% else %},{% endif %}{% endfor %}]'/>#}
						{#</div>#}
					{#</div>#}
					{#<div class="form-group">#}
						{#<label for="quantity" class="col-sm-2 control-label">Количество:</label>#}
						{#<div class="col-sm-6">#}
							{#<input type="text" class="form-control" id="quantity" name="quantity" value=""/>#}
						{#</div>#}
					{#</div>#}
					{#<div class="form-group">#}
						{#<label for="status_comment" class="col-sm-2 control-label">&nbsp;</label>#}
						{#<div class="col-sm-6">#}
							{#<button type="submit" id="add_product" class="btn btn-default">Добавить</button>#}
						{#</div>#}
					{#</div>#}
			</div>
			<div id="status" class="tab-pane fade">
				{% if order.id %}
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Дата добавления</th>
							<th>Комментарий</th>
							<th>Статус</th>
						</tr>
					</thead>
					<tbody id="order_history">
						{% for h in order.history %}
							<tr>
								<td>{{ h.create_time|date('d.m.Y') }}</td>
								<td>{{ h.comment }}</td>
								<td>{{ h.status }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>

				<div class="form-group">
					<label for="status" class="col-sm-2 control-label">Статус:</label>
					<div class="col-sm-6">
						<select class="form-control" id="status_id">
							<option value=""></option>
							{% for s in status %}
								<option value="{{ s.id }}">{{ s.title }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="status_comment" class="col-sm-2 control-label">Комментарий:</label>
					<div class="col-sm-6">
						<textarea class="form-control" rows="5" id="status_comment"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label for="status_comment" class="col-sm-2 control-label">&nbsp;</label>
					<div class="col-sm-6">
						<button type="submit" id="add_history" class="btn btn-default">Добавить</button>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</form>
	<script>
		$('#myTab a[href="#status"]').tab('show');
		$('#myTab a[href="#product"]').tab('show');
		$('#myTab a[href="#common"]').tab('show');
	</script>
{% endblock %}