{% extends "helper/base.twig" %}

{% block body %}
	<div>
		<a href="{{ create }}" style="float:right;"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Добавить</button></a>
		<h2>Советы</h2>
	</div>
	<table class="table table-striped">
		<tr>
			<th>Продукт</th>
			<th>Текст ссылки</th>
			<th>Текст описания</th>
			<th class="text-center">Действие</th>
		</tr>
		{% for t in tips %}
			<tr>
				<td>{{ t.product }}</td>
				<td>{{ t.url }}</td>
				<td>{{ t.description }}</td>
				<td class="text-center">
					<a href="{{ t.url_edit }}"><span class="glyphicon glyphicon-pencil"></span></a>
					<a href="{{ t.url_del }}"><span class="glyphicon glyphicon-remove"></span></a>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}