{% extends "helper/base.twig" %}

{% block body %}

	<form role="form" action="" method="post">
		<div class="form-group">
			<label for="url">Текст ссылки</label>
			<input type="text" class="form-control" id="url" name="url" placeholder="Текст ссылки" value="{{ tips.url }}" />
		</div>
		<div class="form-group">
			<label for="description">Текст описания</label>
			<input type="text" class="form-control" id="description" name="description" placeholder="Текст описания" value="{{ tips.description }}" />
		</div>
		<div class="form-group">
			<label for="product_id">Продукт</label>
			<select name="product" id="product" class="form-control">
				<option value=""></option>
				{% for p in products %}
					<option value="{{ p.id }}" {{ p.select }}>{{ p.title }}</option>
				{% endfor %}
			</select><br/><label for="product_id">id</label>
			<input type="text" class="form-control" id="product_id" name="product_id" placeholder="id" value="{{ tips.product_id }}" />
		</div>
		<button type="submit" class="btn btn-default">Сохранить</button>
	</form>

{% endblock %}