{% extends "helper/base.twig" %}

{% block js %}
	<script src="/js/ckeditor/ckeditor.js"></script>
{% endblock %}

{% block body %}
	{% if errors %}
		{% for e in errors %}
			<div class="alert alert-danger" role="alert">{{ e }}</div>
		{% endfor %}
	{% endif %}
	<form class="form-horizontal" role="form" method="post" action="">
		<div style="float: right;">
			<button type="submit" class="btn btn-default">Сохранить</button>
		</div>
		<ul role="tablist" class="nav nav-tabs" id="myTab" xmlns="http://www.w3.org/1999/html">
			<li class="active">
				<a data-toggle="tab" role="tab" href="#common">Общие</a>
			</li>
		</ul>
		<br/>
		<div class="tab-content" id="myTabContent">
			<div id="common" class="tab-pane fade active in">
				<div class="form-group">
					<label for="title" class="col-sm-2 control-label">Сайт:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="title" name="site_name" value="{{ site_name }}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="seo_title" class="col-sm-2 control-label">Title:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="seo_title" name="main_seo_title" value="{{ main_seo_title }}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="meta_keyword" class="col-sm-2 control-label">Мета-тег Keywords:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="meta_keyword" name="main_meta_keyword" value="{{ main_meta_keyword }}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="meta_description" class="col-sm-2 control-label">Мета-тег Description:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="meta_description" name="main_meta_description" value="{{ main_meta_description }}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="description" class="col-sm-2 control-label">Сео текст:</label>
					<div class="col-sm-10">
						<textarea class="ckeditor" cols="80" id="editor1" rows="10" name="main_seo_text" tabindex="1">{{ main_seo_text }}</textarea>
					</div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}