{% extends "helper/base.twig" %}

{% block body %}
	<div>
		<a href="{{ create }}" style="float:right;"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Добавить</button></a>
		<h2>Статьи</h2>
	</div>
	<table class="table table-striped">
		<tr>
			<th>Название</th>
			<th class="text-center">Ссылка</th>
			<th class="text-center">Действие</th>
		</tr>
		{% for i in information %}
			<tr>
				<td>{{ i.title }}</td>
				<td class="text-center">{{ i.url }}</td>
				<td class="text-center">
					<a href="{{ i.url_edit }}"><span class="glyphicon glyphicon-pencil"></span></a>
					<a href="{{ i.url_del }}"><span class="glyphicon glyphicon-remove"></span></a>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}