{% extends "helper/base.twig" %}
{% block js %}
	<script src="/js/ckeditor/ckeditor.js"></script>
	<script src="/js/ckeditor/adapters/jquery.js"></script>
{% endblock %}

{% block body %}
	{% if errors %}
		{% for e in errors %}
			<div class="alert alert-danger" role="alert">{{ e }}</div>
		{% endfor %}
	{% endif %}
	<form class="form-horizontal" role="form" method="post" action="">
		<div style="float: right;">
			<button type="submit" class="btn btn-default">Сохранить</button>
		</div>
		<ul role="tablist" class="nav nav-tabs" id="myTab" xmlns="http://www.w3.org/1999/html">
			<li class="active">
				<a data-toggle="tab" role="tab" href="#common">Общие</a>
			</li>
		</ul>
		<br/>
		<div class="tab-content" id="myTabContent">
			<div id="common" class="tab-pane fade active in">
				<div class="form-group">
					<label for="title" class="col-sm-2 control-label">Название:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="title" name="title" value="{{ information.title }}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="url" class="col-sm-2 control-label">Ссылка:</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="url" name="url" value="{{ information.url }}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="seo_title" class="col-sm-2 control-label">HTML-тег Title:</label>

					<div class="col-sm-6">
						<input type="text" class="form-control" id="seo_title" name="seo_title" value="{{ information.seo_title }}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="seo_h1" class="col-sm-2 control-label">HTML-тег H1:</label>

					<div class="col-sm-6">
						<input type="text" class="form-control" id="seo_h1" name="seo_h1" value="{{ information.seo_h1 }}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="meta_keyword" class="col-sm-2 control-label">Мета-тег Keywords:</label>

					<div class="col-sm-6">
						<input type="text" class="form-control" id="meta_keyword" name="meta_keyword" value="{{ information.meta_keyword }}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="meta_description" class="col-sm-2 control-label">Мета-тег Description:</label>

					<div class="col-sm-6">
						<input type="text" class="form-control" id="meta_description" name="meta_description" value="{{ information.meta_description }}"/>
					</div>
				</div>
				<div class="form-group">
					<label for="description" class="col-sm-2 control-label">Описание:</label>
					<div class="col-sm-10">
						<textarea class="ckeditor" cols="80" id="editor1" rows="10" name="description" tabindex="1">{{ information.description }}</textarea>
					</div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}