{% extends "helper/base.twig" %}

{% block body %}
	<div>
		{#<a href="{{ create }}" style="float:right;"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Добавить</button></a>#}
		<h2>Пользователи</h2>
	</div>
	<table class="table table-striped">
		<tr>
			<th>Login</th>
			<th>Активность</th>
			<th class="text-center">Действие</th>
		</tr>
		{% for u in users %}
			<tr>
				<td>{{ u.login }}</td>
				<td>{% if u.is_active %}активен{% else %}не активен{% endif %}</td>
				<td class="text-center">
					{#<a href="{{ b.url_edit }}"><span class="glyphicon glyphicon-pencil"></span></a>#}
					{#<a href="{{ b.url_del }}"><span class="glyphicon glyphicon-remove"></span></a>#}
				</td>
			</tr>
		{% endfor %}
	</table>
	</div>
{% endblock %}