<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

	<title>{{ title }}</title>
	<script type="text/javascript" src="/js/jquery/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/js/jquery/ui/jquery-ui-1.8.16.custom.min.js"></script>
	<script type="text/javascript" src="/js/jquery/tabs.js"></script>
	<script type="text/javascript" src="/js/jquery/superfish/js/superfish.js"></script>
	<link type="text/css" href="/js/jquery/ui/themes/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />

	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css" />
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap-typeahead.js"></script>

	<link rel="stylesheet" type="text/css" href="/css/main.css" />
	{% block js %}

	{% endblock %}
</head>

<body>
	<div class="container">

		{% block header %}
			<nav class="navbar navbar-default" role="navigation">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">Панель управления</a>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							{% for m in menu %}
								<li class="dropdown" {#class="active"#}>
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ m.title }} <span class="caret"></span></a>
									<ul class="dropdown-menu" role="menu">
										{% for s in m.submenu %}
											{% if s.divider %}
												<li class="divider"></li>
											{% else %}
												<li><a href="{{ s.url }}">{{ s.title }}</a></li>
											{% endif %}

										{% endfor %}
									</ul>
								</li>
							{%  endfor %}
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="/logout/">Выход</a></li>
						</ul>
					</div>
				</div>
			</nav>

			{% if breadcrumb %}
				<ol class="breadcrumb">
					{% for b in breadcrumb %}
						{% if loop.last %}
							<li class="active">{{ b.title }}</li>
						{% else %}
							<li><a href="{{ b.url }}">{{ b.title|e }}</a></li>
						{% endif %}
					{% endfor %}
				</ol>
			{% endif %}
		{% endblock %}

		{% block body %}

		{% endblock %}
	</div>
</body>
</html>
